<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Home</title>
	<link rel="stylesheet" th:href="@{/fontawesome-free-5.11.2-web/css/all.min.css}" />
	<link rel="stylesheet" th:href="@{/slick/slick.css}">
	<link rel="stylesheet" th:href="@{/slick/slick-theme.css}">
	<link rel="stylesheet" th:href="@{/magnific-popup/magnific-popup.css}">
	<link rel="stylesheet" th:href="@{/bootstrap-4.5.0-dist/css/bootstrap.css}" />
	<link rel="stylesheet" th:href="@{/css/templatemo-style.css}" />
	<link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/recommend.css}" />
	<script th:src="@{/js/jquery-1.9.1.min.js}"></script>
	<script th:src="@{/slick/slick.min.js}"></script>
	<script th:src="@{/magnific-popup/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/jquery.singlePageNav.min.js}"></script>
	<script th:src="@{/bootstrap-4.5.0-dist/js/bootstrap.js}"></script>
</head>

<body>
	<!-- Hero section -->
	<section id="hero" class="text-white tm-font-big tm-parallax">
		<!-- Navigation -->
		<section th:include="/partial/_homenavbar::navbar"></section>

		<div class="text-center tm-hero-text-container">
			<div class="tm-hero-text-container-inner">
				<h2 class="tm-hero-title">影 荐 人</h2>
				<p class="tm-hero-subtitle">

					<br />执笔，认识电影
				</p>
			</div>
		</div>
		<div class="tm-next tm-intro-next">
			<a href="#introduction" class="text-center tm-down-arrow-link">
				<i class="fas fa-3x fa-caret-down tm-down-arrow"></i>
			</a>
		</div>
	</section>

	<!-- 类型 -->
	<section id="work" class="tm-section-pad-top">
		<div class="container tm-container-gallery">
			<div class="row">
				<div class="text-center col-12 text-with-hr">
					<span><h3 class="tm-text-primary mb-4">根据类型查找影片</h3></span>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="mx-auto tm-gallery-container">
						<div class="grid tm-gallery">
							<a href="/img/gallery-img-01.jpg">
								<figure class="effect-honey tm-gallery-item">
									<img src="/img/gallery-tn-01.jpg" alt="Image" class="/img-fluid">
									<figcaption>
										<h2><i>Dreamy <span>悬疑</span> Now</i></h2>
									</figcaption>
								</figure>
							</a>
							<a href="/img/gallery-img-02.jpg">
								<figure class="effect-honey tm-gallery-item">
									<img src="/img/gallery-tn-02.jpg" alt="Image" class="/img-fluid">
									<figcaption>
										<h2><i>Second <span>动作</span> Now</i></h2>
									</figcaption>
								</figure>
							</a>
							<a href="/img/gallery-img-03.jpg">
								<figure class="effect-honey tm-gallery-item">
									<img src="/img/gallery-tn-03.jpg" alt="Image" class="/img-fluid">
									<figcaption>
										<h2><i>Third <span>惊悚</span> Now</i></h2>
									</figcaption>
								</figure>
							</a>
							<a href="/img/gallery-img-04.jpg">
								<figure class="effect-honey tm-gallery-item">
									<img src="/img/gallery-tn-04.jpg" alt="Image" class="/img-fluid">
									<figcaption>
										<h2><i>Dreamy <span>爱情</span> Now</i></h2>
									</figcaption>
								</figure>
							</a>
							<a href="/img/gallery-img-05.jpg">
								<figure class="effect-honey tm-gallery-item">
									<img src="/img/gallery-tn-05.jpg" alt="Image" class="/img-fluid">
									<figcaption>
										<h2><i>Fifth <span>喜剧</span> Now</i></h2>
									</figcaption>
								</figure>
							</a>
							<a href="/img/gallery-img-06.jpg">
								<figure class="effect-honey tm-gallery-item">
									<img src="/img/gallery-tn-06.jpg" alt="Image" class="/img-fluid">
									<figcaption>
										<h2><i>Sixth <span>科幻</span> Now</i></h2>
									</figcaption>
								</figure>
							</a>
							<a href="/img/gallery-img-01.jpg">
								<figure class="effect-honey tm-gallery-item">
									<img src="/img/gallery-tn-01.jpg" alt="Image" class="/img-fluid">
									<figcaption>
										<h2><i>Dreamy <span>奇幻</span> Now</i></h2>
									</figcaption>
								</figure>
							</a>
							<a href="/img/gallery-img-02.jpg">
								<figure class="effect-honey tm-gallery-item">
									<img src="/img/gallery-tn-02.jpg" alt="Image" class="/img-fluid">
									<figcaption>
										<h2><i>Eighth <span>灾难</span> Now</i></h2>
									</figcaption>
								</figure>
							</a>
						</div>
					</div>
				</div>
				<div class="text-center col-12 text-with-hr"></div>
			</div>
		</div>
	</section>

	<!-- 每日推荐 -->
	<section id="introduction" class="tm-section-pad-top"
		style="padding-bottom: 50px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<img src="/img/the-town-01.jpg" alt="Image" class="/img-fluid tm-intro-img" />
				</div>
				<div class="col-lg-6">
					<div class="tm-intro-text-container justify-content-center">
						<h3 class="tm-text-primary mb-4">今日推荐</h3>
						<p class="mb-4 tm-intro-text" style="padding: 1em;">
							The Town is <strong>simple CSS template</strong> built on Bootstrap v4.1.3
							and this is a little parallax layout that you can use for your websites.
						</p>
						<a href="" class="tm-intro-text tm-btn-primary">换一换</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- 最新最热 -->
	<section id="work" class="tm-section-pad-top">
		<div class="container tm-container-gallery">
			<div class="row">
				<div class="text-center col-12 text-with-hr">
					<span><h3 class="tm-text-primary mb-4">最热最新的院线电影</h3></span>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="mx-auto tm-gallery-container">
						<div class="grid">
							<a href="/img/gallery-img-01.jpg">
								<figure class="effect-honey tm-gallery-item">
									<img src="/img/gallery-tn-01.jpg" alt="Image" class="/img-fluid">
									<figcaption>
										<h2><i>Dreamy <span>悬疑</span> Now</i></h2>
									</figcaption>
								</figure>
							</a>
							<a href="/img/gallery-img-02.jpg">
								<figure class="effect-honey tm-gallery-item">
									<img src="/img/gallery-tn-02.jpg" alt="Image" class="/img-fluid">
									<figcaption>
										<h2><i>Second <span>动作</span> Now</i></h2>
									</figcaption>
								</figure>
							</a>
							<a href="/img/gallery-img-03.jpg">
								<figure class="effect-honey tm-gallery-item">
									<img src="/img/gallery-tn-03.jpg" alt="Image" class="/img-fluid">
									<figcaption>
										<h2><i>Third <span>惊悚</span> Now</i></h2>
									</figcaption>
								</figure>
							</a>
							<a href="/img/gallery-img-04.jpg">
								<figure class="effect-honey tm-gallery-item">
									<img src="/img/gallery-tn-04.jpg" alt="Image" class="/img-fluid">
									<figcaption>
										<h2><i>Dreamy <span>爱情</span> Now</i></h2>
									</figcaption>
								</figure>
							</a>
							<a href="/img/gallery-img-05.jpg">
								<figure class="effect-honey tm-gallery-item">
									<img src="/img/gallery-tn-05.jpg" alt="Image" class="/img-fluid">
									<figcaption>
										<h2><i>Fifth <span>喜剧</span> Now</i></h2>
									</figcaption>
								</figure>
							</a>
						</div>
					</div>
				</div>
				<!-- <div class="text-center col-12 text-with-hr"></div> -->
			</div>
		</div>
	</section>

	<!-- 影评 -->
	<section id="work" class="tm-section-pad-top" style="padding-bottom: 50px;">
		<div class="text-center col-12 text-with-hr">
			<span><h3 class="tm-text-primary mb-4">优质影评</h3></span>
		</div>
		<div class="bannerBox">
			<div class="banner">
				<ul>
					<li>
						<div class="page_content" style="background-color: #414a52;">
							<div class="carousel_container paging_capsules curator_cluster_expanded" id="feature_curators_block_0">
								<div class="carousel_items curator_featured_tags">
									<div class="curator_page" style="padding-left: 40px; padding-top: 20px;">
										<div class="profile">
											<a href="#影评人主页"><img class="avatar" src="/img/s1.jpg"></a>
											<div class="info">
												<div class="name">关注 <span>影评人名称</span>，获得更多类似影评！</div>
												<div class="action">
													<div>
														<a class=" follow_button btn-info btn_medium " href="#"><span>关注</span></a>
														<a class=" following_button btn-success btn_medium " style="display: none;"
															href="#"><span>已关注</span></a>
													</div>
													<div class="followers"><span>632,647</span> 名关注者</div>
												</div>
											</div>
										</div>
										<div class="curations row">
											<div class="col-md-6">
												<a class="store_capsule app_impression_tracked" href="#电影详情页">
													<div class="capsule headerv5">
														<img src="/img/movie-01.jpg">
													</div>
												</a>
											</div>
											<div class="col-md-6">
												<span class="review_direction color_recommended">推荐</span>
												<div class="text-light">影评：当人工智能脱离人类掌控，会发生什么?在这样的世界背景之下，玩家不只要搜索资源，强化自己，还
													要注意小心其他玩家以及机器人带来的威胁，本作是一款开放世界的多
													人在线游戏，拥有昼夜与天气系统，玩家可以组队也可以单人，获取来自空投或者废弃房屋集装箱中的资源装备，
													补充食物水源，以及各种武装，安全基地内的NPC提供全球库功能，储存的资源可以在任何服务器使用和玩家交易。
													制作无人机进行侦察,升级解锁新制作和技能
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="page_content" style="background-color: #2b344e;">
							<div class="carousel_container paging_capsules curator_cluster_expanded" id="feature_curators_block_0">
								<div class="carousel_items curator_featured_tags">
									<div class="curator_page" style="padding-left: 40px; padding-top: 20px;">
										<div class="profile">
											<a href="#影评人主页"><img class="avatar" src="/img/s1.jpg"></a>
											<div class="info">
												<div class="name">关注 <span>影评人名称</span>，获得更多类似影评！</div>
												<div class="action">
													<div>
														<a class=" follow_button btn-info btn_medium " href="#"><span>关注</span></a>
														<a class=" following_button btn-success btn_medium " style="display: none;"
															href="#"><span>已关注</span></a>
													</div>
													<div class="followers"><span>632,647</span> 名关注者</div>
												</div>
											</div>
										</div>
										<div class="curations row">
											<div class="col-md-6">
												<a class="store_capsule app_impression_tracked" href="#电影详情页">
													<div class="capsule headerv5">
														<img src="/img/movie-01.jpg">
													</div>
												</a>
											</div>
											<div class="col-md-6">
												<span class="review_direction color_recommended">推荐</span>
												<div class="text-light">影评：当人工智能脱离人类掌控，会发生什么?在这样的世界背景之下，玩家不只要搜索资源，强化自己，还
													要注意小心其他玩家以及机器人带来的威胁，本作是一款开放世界的多
													人在线游戏，拥有昼夜与天气系统，玩家可以组队也可以单人，获取来自空投或者废弃房屋集装箱中的资源装备，
													补充食物水源，以及各种武装，安全基地内的NPC提供全球库功能，储存的资源可以在任何服务器使用和玩家交易。
													制作无人机进行侦察,升级解锁新制作和技能
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="page_content" style="background-color: #344945;">
							<div class="carousel_container paging_capsules curator_cluster_expanded" id="feature_curators_block_0">
								<div class="carousel_items curator_featured_tags">
									<div class="curator_page" style="padding-left: 40px; padding-top: 20px;">
										<div class="profile">
											<a href="#影评人主页"><img class="avatar" src="/img/s1.jpg"></a>
											<div class="info">
												<div class="name">关注 <span>影评人名称</span>，获得更多类似影评！</div>
												<div class="action">
													<div>
														<a class=" follow_button btn-info btn_medium " href="#"><span>关注</span></a>
														<a class=" following_button btn-success btn_medium " style="display: none;"
															href="#"><span>已关注</span></a>
													</div>
													<div class="followers"><span>632,647</span> 名关注者</div>
												</div>
											</div>
										</div>
										<div class="curations row">
											<div class="col-md-6">
												<a class="store_capsule app_impression_tracked" href="#电影详情页">
													<div class="capsule headerv5">
														<img src="/img/movie-01.jpg">
													</div>
												</a>
											</div>
											<div class="col-md-6">
												<span class="review_direction color_recommended">推荐</span>
												<div class="text-light">影评：当人工智能脱离人类掌控，会发生什么?在这样的世界背景之下，玩家不只要搜索资源，强化自己，还
													要注意小心其他玩家以及机器人带来的威胁，本作是一款开放世界的多
													人在线游戏，拥有昼夜与天气系统，玩家可以组队也可以单人，获取来自空投或者废弃房屋集装箱中的资源装备，
													补充食物水源，以及各种武装，安全基地内的NPC提供全球库功能，储存的资源可以在任何服务器使用和玩家交易。
													制作无人机进行侦察,升级解锁新制作和技能
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="page_content" style="background-color: #372e46;">
							<div class="carousel_container paging_capsules curator_cluster_expanded" id="feature_curators_block_0">
								<div class="carousel_items curator_featured_tags">
									<div class="curator_page" style="padding-left: 40px; padding-top: 20px;">
										<div class="profile">
											<a href="#影评人主页"><img class="avatar" src="/img/s1.jpg"></a>
											<div class="info">
												<div class="name">关注 <span>影评人名称</span>，获得更多类似影评！</div>
												<div class="action">
													<div>
														<a class=" follow_button btn-info btn_medium " href="#"><span>关注</span></a>
														<a class=" following_button btn-success btn_medium " style="display: none;"
															href="#"><span>已关注</span></a>
													</div>
													<div class="followers"><span>632,647</span> 名关注者</div>
												</div>
											</div>
										</div>
										<div class="curations row">
											<div class="col-md-6">
												<a class="store_capsule app_impression_tracked" href="#电影详情页">
													<div class="capsule headerv5">
														<img src="/img/movie-01.jpg">
													</div>
												</a>
											</div>
											<div class="col-md-6">
												<span class="review_direction color_recommended">推荐</span>
												<div class="text-light">影评：当人工智能脱离人类掌控，会发生什么?在这样的世界背景之下，玩家不只要搜索资源，强化自己，还
													要注意小心其他玩家以及机器人带来的威胁，本作是一款开放世界的多
													人在线游戏，拥有昼夜与天气系统，玩家可以组队也可以单人，获取来自空投或者废弃房屋集装箱中的资源装备，
													补充食物水源，以及各种武装，安全基地内的NPC提供全球库功能，储存的资源可以在任何服务器使用和玩家交易。
													制作无人机进行侦察,升级解锁新制作和技能
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section  th:include="/partial/_contact::contact"></section>

	<script>

		function getOffSet() {
			var _offset = 450;
			var windowHeight = window.innerHeight;

			if (windowHeight > 500) {
				_offset = 400;
			}
			if (windowHeight > 680) {
				_offset = 300
			}
			if (windowHeight > 830) {
				_offset = 210;
			}

			return _offset;
		}

		function setParallaxPosition($doc, multiplier, $object) {
			var offset = getOffSet();
			var from_top = $doc.scrollTop(),
				bg_css = 'center ' + (multiplier * from_top - offset) + 'px';
			$object.css({ "background-position": bg_css });
		}

		var background_image_parallax = function ($object, multiplier, forceSet) {
			multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
			multiplier = 1 - multiplier;
			var $doc = $(document);
			// $object.css({"background-attatchment" : "fixed"});

			if (forceSet) {
				setParallaxPosition($doc, multiplier, $object);
			} else {
				$(window).scroll(function () {
					setParallaxPosition($doc, multiplier, $object);
				});
			}
		};

		var background_image_parallax_2 = function ($object, multiplier) {
			multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
			multiplier = 1 - multiplier;
			var $doc = $(document);
			$object.css({ "background-attachment": "fixed" });
			$(window).scroll(function () {
				var firstTop = $object.offset().top,
					pos = $(window).scrollTop(),
					yPos = Math.round((multiplier * (firstTop - pos)) - 186);

				var bg_css = 'center ' + yPos + 'px';

				$object.css({ "background-position": bg_css });
			});
		};

		$(function () {
			// Hero Section - Background Parallax
			background_image_parallax($(".tm-parallax"), 0.30, false);
			background_image_parallax_2($("#contact"), 0.80);

			// Handle window resize
			window.addEventListener('resize', function () {
				background_image_parallax($(".tm-parallax"), 0.30, true);
			}, true);

			// Detect window scroll and update navbar
			$(window).scroll(function (e) {
				if ($(document).scrollTop() > 120) {
					$('.tm-navbar').addClass("scroll");
				} else {
					$('.tm-navbar').removeClass("scroll");
				}
			});

			// Close mobile menu after click 
			$('#tmNav a').on('click', function () {
				$('.navbar-collapse').removeClass('show');
			})

			// Scroll to corresponding section with animation
			$('#tmNav').singlePageNav();

			// Add smooth scrolling to all links
			// https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
			$("a").on('click', function (event) {
				if (this.hash !== "") {
					event.preventDefault();
					var hash = this.hash;

					$('html, body').animate({
						scrollTop: $(hash).offset().top
					}, 400, function () {
						window.location.hash = hash;
					});
				} // End if
			});

			// Pop up
			$('.tm-gallery').magnificPopup({
				delegate: 'a',
				type: 'image',
				gallery: { enabled: true }
			});

			// Gallery
			$('.tm-gallery').slick({
				dots: true,
				infinite: false,
				slidesToShow: 5,
				slidesToScroll: 2,
				responsive: [
					{
						breakpoint: 1199,
						settings: {
							slidesToShow: 4,
							slidesToScroll: 2
						}
					},
					{
						breakpoint: 991,
						settings: {
							slidesToShow: 3,
							slidesToScroll: 2
						}
					},
					{
						breakpoint: 767,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 480,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1
						}
					}
				]
			});
		});
	</script>
					<script type="text/javascript">
						$(function () {
							function bannerMove(obj) {
								var index = 0;
								var _thatFlag = true;
								var _that = $(obj.el);
								var _length = _that.find("li").length;
								var a_prev = index - 1 < 0 ? '-1' : index - 1;
								var a_next = index + 1 >= _length ? '0' : index + 1;
								var timer;
								_that.append(
									"<div class='banner-btn'><span class='banner-btn-prev'></span><span class='banner-btn-next'></span></div>");
								if (_length < 4) {
									if (_length < 2) {
										_that.find("li").eq(index).addClass("on");
										return false;
									} else {
										for (let i = 0; i < (4 - _length); i++) {
											var tempHtml = _that.find("li").eq(i).html()
											_that.find("ul").append('<li>' + tempHtml + '</li>')
										}
									}
								}
								_that.find("li").css({
									"left": "-1400px",
									"z-index": "1"
								});
								_that.find("li").eq(index - 1).css({
									"left": "-400px",
									"z-index": "2"
								});
								_that.find("li").eq(index).css({
									"left": "0px",
									"z-index": "3"
								});
								_that.find("li").eq(index + 1).css({
									"left": "400px",
									"z-index": "2"
								});
								_that.find("li").eq(index).addClass("on");
				
								_that.on("click", ".banner-btn-prev", function () {
									if (_thatFlag) {
										_thatFlag = false;
										main(1);
									}
								})
								_that.on("click", ".banner-btn-next", function () {
									if (_thatFlag) {
										_thatFlag = false;
										main(0);
									}
								});
								clearInterval(timer);
								timer = setInterval(function () {
									main(0);
								}, 5000);
								_that.hover(function () {
									clearInterval(timer);
								}, function () {
									clearInterval(timer);
									timer = setInterval(function () {
										main(0);
									}, 5000);
								})
								function main(fx) {
									if (fx) {
										// console.log("左")
										if (index > _length - 1) index = 0;
										a_prev = index - 1 < 0 ? '-1' : index - 1;
										a_next = index + 1 >= _length ? '0' : index + 1;
										_that.find("li").eq(-1).prependTo(_that.find("li").parent());
										_that.find("li").eq(a_prev).css({
											"left": "-800px",
											"z-index": "1"
										}).animate({
											"left": "-400px",
											"z-index": "1"
										});
										_that.find("li").eq(index).css({
											"left": "-400px",
											"z-index": "3"
										}).animate({
											"left": "0px",
											"z-index": "3"
										});
										_that.find("li").eq(a_next).css({
											"left": "0px",
											"z-index": "2"
										}).animate({
											"left": "400px",
											"z-index": "2"
										});
										_that.find("li").eq(a_next + 1).css({
											"left": "400px",
											"z-index": "1"
										}).animate({
											"left": "800px",
											"z-index": "0"
										}, function () {
											_thatFlag = true;
										});
										_that.find("li").eq(0).addClass("on").siblings().removeClass("on");
									} else {
										// console.log("右")
										if (index > _length - 1) index = 0;
										a_prev = index - 1 < 0 ? '-1' : index - 1;
										a_next = index + 1 >= _length ? '0' : index + 1;
										_that.find("li").eq(a_prev).css({
											"left": "-400px",
											"z-index": "1"
										}).animate({
											"left": "-800px",
											"z-index": "1"
										});
										_that.find("li").eq(index).css({
											"left": "0px",
											"z-index": "2"
										}).animate({
											"left": "-400px",
											"z-index": "2"
										});
										_that.find("li").eq(a_next).css({
											"left": "400px",
											"z-index": "3"
										}).animate({
											"left": "0px",
											"z-index": "3"
										});
										_that.find("li").eq(a_next + 1).css({
											"left": "800px",
											"z-index": "2"
										}).animate({
											"left": "400px",
											"z-index": "2"
										}, function () {
											_that.find("li").eq(0).appendTo(_that.find("li").parent());
											_thatFlag = true;
										});
										_that.find("li").eq(1).addClass("on").siblings().removeClass("on");
									}
								}
							}
							var myMove = new bannerMove({
								el: ".bannerBox .banner"
							})
						})
					</script>
</body>

</html>