<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
    layout:decorator="/shared/_layout">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MovieInfo</title>

    <link rel="stylesheet" href="/slick/slick.css">
    <link rel="stylesheet" href="/slick/slick-theme.css">
    <link rel="stylesheet" href="/Radio/css/DPlayer.min.css">
    <link rel="stylesheet" href="/Radio/css/base.css">
    <link rel="stylesheet" href="/Radio/LBT/css/sliderx.css">
    <link rel="stylesheet" href="/css/movieInfo.css">
    <link rel="stylesheet" type="text/css" href="/3d/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/3d/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/3d/css/component.css" />
    <link rel="stylesheet" type="text/css" href="/myshare/share.min.css">
    <link rel="stylesheet" type="text/css" href="/myheart/css/style.css" />
    <link rel="stylesheet" href="/star/css/examples.css">
    <link rel="stylesheet" href="/css/search-select.css" />
    <script src="/slick/slick.min.js "></script>
    <script src="/Radio/js/DPlayer.min.js "></script>
    <script type="text/javascript" src="/Radio/LBT/js/sliderx.js"></script>
    <script src="/3d/js/modernizr.custom.js"></script>
    <script src="/js/jquery.comment.js"></script>
    <script src="/myshare/jquery.share.min.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script src="/star/js/examples.js"></script>
    <script src="/star/js/jquery.barrating.js"></script>
</head>

<body>
    <section layout:fragment="content">
        <section id="introduction" class="tm-section-pad-top">
            <div class="container" style="margin-top: 4%;">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="Dplayer_box">
                            <div class="player_av" id="Dplayer_lb" style="display: none;">
                                <div id="player1"></div>
                            </div>
                            <img id="bigimg"
                                th:src="${movie.imgUrl} eq null?'/img/default.jpg':'http://10.236.11.10/img/'+${movie.movieId}+'.jpg'"
                                class="/img-circle " style="width: auto; height: 465px;">
                        </div>

                        <div class="control-box">
                            <ul>
                                <li class="prev">
                                    <img src="/img/prev.png" alt="prev">
                                </li>
                                <li class="next">
                                    <img src="/img/next.png" alt="next">
                                </li>
                            </ul>
                            <div class="bigbox">
                                <div id="switcher">
                                    <div class="content_1">
                                        <div id="start" class="box" style="background-image: url(/img/movie-06.jpg);">
                                            <img src="/img/bofang.png"
                                                style="margin-left:28px; height: 110px; width:110px; opacity:0.6;">
                                        </div>
                                        <div id="/img1" class="box" style="background-image: url(/img/movie-01.jpg);">
                                        </div>
                                        <div id="/img2" class="box" style="background-image: url(/img/movie-02.jpg);">
                                        </div>
                                        <div id="/img3" class="box" style="background-image: url(/img/movie-03.jpg);">
                                        </div>
                                        <div id="/img4" class="box" style="background-image: url(/img/movie-04.jpg);">
                                        </div>
                                        <div id="/img5" class="box" style="background-image: url(/img/movie-05.jpg);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 ">
                        <div class="wrapper">
                            <ul class="stage clearfix">
                                <li class="scene">
                                    <div class="movie" onclick="return true">
                                        <div class="poster"></div>
                                        <div class="info">
                                            <header>
                                                <h1 id="movieName">
                                                    <div style="text-indent:2em;display: inline;">《</div>
                                                    <div style="display: inline;" th:text="${movie.moiveName}">电影名</div>
                                                    <div style="display: inline;">》</div>
                                                </h1>
                                                <h2 id="anotherName">
                                                    <!-- <nobr>别名:</nobr>小丑起源电影：罗密欧 / Romeo / Joker Origin Movie -->
                                                    <h2 id="director">
                                                        <nobr>导演： </nobr>
                                                        <div style="display: inline;" th:text="${movie.directors}">导演名
                                                        </div>
                                                    </h2>
                                                    <h2 id="actor">
                                                        <nobr>主演： </nobr>
                                                        <div style="display: inline;" th:text="${movie.actors}">演员名
                                                        </div>
                                                    </h2>
                                                    <h2 id="type">
                                                        <nobr>类型: </nobr>
                                                        <div style="display: inline;" th:text="${movie.genres}">类型名
                                                        </div>
                                                    </h2>
                                                    <br />
                                                    <h2 id="country">
                                                        <nobr>制片国家: </nobr>
                                                        <div style="display: inline;" th:text="${movie.region}">地区名
                                                        </div>
                                                    </h2>
                                                    <h2 id="language">
                                                        <nobr>语言: </nobr>
                                                        <div style="display: inline;" th:text="${movie.language}">语言
                                                        </div>
                                                    </h2>
                                                    <h2 id="upTime">
                                                        <nobr>上映时间: </nobr>
                                                        <div style="display: inline;" th:text="${movie.year}">年份</div>
                                                    </h2>
                                                    <h2 id="movieTime">
                                                        <nobr>片长: </nobr>
                                                        <div style="display: inline;" th:text="${movie.minute}"></div>
                                                        <nobr>分钟</nobr>
                                                    </h2>
                                                    <!-- <h2 id="IMDB">
                                                        <nobr>IMDB链接:</nobr>
                                                        <a href="https://www.imdb.com/title/tt7286456/"
                                                            target="_blank">tt728456</a>
                                                    </h2> -->
                                            </header>
                                            <p>
                                                影荐人评分:
                                                <p2 id="score">
                                                    <nobr th:text="${movie.score}">10.0</nobr>
                                                </p2>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="work" class="tm-section-pad-top" style="margin-top: -10%;">
            <div class="container" style="margin-top: 4%;">
                <div class="row">
                    <div class="col-lg-8">
                        <p style="margin-left: 5%; font-size: 30px;">剧情简介：</p>

                        <p style="margin-left: 5%; margin-right: 5%; font-size: 20px; text-indent: 2em;">
                            <p2 th:text="${movie.storyLine}">
                                湿冷无望的哥谭市，卑微的亚瑟·弗兰克（华金·菲尼克斯 Joaquin Phoenix饰）依靠扮演小丑赚取营生。
                                与之相依为命的母亲患有精神疾病，而亚瑟深记母亲的教诲，无论遭受怎样的挫折都笑对人生，却因此
                                让自己背负着莫大的压力，濒临崩溃。他梦想成为一名脱口秀演员，怎奈生活一次次将失望狠狠地砸在 他的头上。不仅如此，他因意外丢掉了工作，偶然瞥见母亲的秘密，又使他心中燃起对
                                那个与之地位 悬殊却从未谋面的父亲的殷切渴望。命运习惯了事与愿违，空荡荡的地铁内，悲伤的小丑在无法自已的癫狂笑声中大开杀戒……
                            </p2>
                        </p>
                        <div class="row">
                            <div class="col-lg-2">
                                <div th:if="${isLogin}" class="heart" id="like1" th:rel="${isLike} eq 0?'like':'unlike'"
                                    rel="like" style="display:inline; position: absolute; left: 35px;  top: -30px;">
                                </div>
                                <div th:unless="${isLogin}" class="heart" id="like2"
                                    th:rel="${isLike} eq 0?'like':'unlike'" rel="like"
                                    style="display:inline; position: absolute; left: 35px;  top: -30px;"></div>
                            </div>
                            <div class="col-lg-6">
                                <p style=" font-size: 20px; display: inline;">我喜欢</p>
                            </div>

                            <div class="col-lg-4 column">
                                <div id="share-2" style="float:right; display: inline;"></div>
                            </div>

                        </div>
                        <div>
                            <p style="margin-left: 5%; margin-top: 8%; font-size: 30px;">影荐人有话说：</p>
                        </div>
                        <div class="container">
                            <div class="commentbox">
                                <div>
                                    <textarea name="content" cols="80" rows="50" placeholder="来说几句吧......"
                                        class="mytextarea" id="content" style="padding:15px; font-size:20px"></textarea>
                                </div>
                                <div style="float:left; margin-top: 5px;">
                                    <button th:if="${isLogin}" class="btn btn-info pull-right" id="comment1">评论</button>
                                    <button th:unless="${isLogin}" class="btn btn-info pull-right"
                                        id="comment2">评论</button>
                                </div>
                                <div style="margin-left:475px; float: left; margin-top: 8px;">
                                    <p style=" font-size: 20px;">评分：</p>
                                </div>
                                <div style="float:left; margin-top: 8px;">
                                    <select id="example-f" name="rating">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>

                            <div class="comment-list"></div>
                        </div>
                        <nav class="pagination-outer" aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item num active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item num"><a class="page-link" href="#">2</a></li>
                                <li class="page-item num"><a class="page-link" href="#">3</a></li>
                                <li class="page-item num"><a class="page-link" href="#">4</a></li>
                                <li class="page-item num"><a class="page-link" href="#">5</a></li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-4 ">
                        <div>
                            <p style="font-size: 30px;">相似电影推荐：</p>
                        </div>
                        <div class="bd floor-side-body">
                            <ul>
                                <li id="push_1">
                                    <a href="#">
                                        <div class="image-ti">
                                            <img src="/img/s1.jpg" alt="">
                                            <div class="title">
                                                <p style="margin-left: 12px;">想哭的我带上猫的面具
                                                </p>
                                            </div>
                                            <div class="score">
                                                <p style="margin-left: 12px;"> 6.5
                                                </p>
                                            </div>
                                            <div class="paragraph">
                                                <p
                                                    style="margin-left: 12px;  text-indent: 2em; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 6; overflow: hidden;">
                                                    绰号“无限”的少女美代(志田未来 配音)从不掩饰对少年日之出(花江夏树
                                                    配音)的好感，她在一次祭典上获得了可以变成猫的面具，并以此来接近日之出。随着交流的深入，美代越来越陷入作为猫与日之出接触的状态，并最终无法变回人类，而此时，日之出也发现了自己对于美代的感情，他发现真相后，展开了帮助美代从猫变回人类的冒险……
                                                </p>
                                            </div>

                                        </div>
                                    </a>
                                </li>
                                <li id="push_2" style="display: none;">
                                    <a href="#">
                                        <div class="image-ti">
                                            <img src="/img/s1.jpg" alt="">
                                            <div class="title">
                                                <p style="margin-left: 12px;">想哭的我带上猫的面具
                                                </p>
                                            </div>
                                            <div class="score">
                                                <p style="margin-left: 12px;"> 6.5
                                                </p>
                                            </div>
                                            <div class="paragraph">
                                                <p
                                                    style="margin-left: 12px;  text-indent: 2em;display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 6; overflow: hidden;">
                                                    绰号“无限”的少女美代(志田未来 配音)从不掩饰对少年日之出(花江夏树
                                                    配音)的好感，她在一次祭典上获得了可以变成猫的面具，并以此来接近日之出。随着交流的深入，美代越来越陷入作为猫与日之出接触的状态，并最终无法变回人类，而此时，日之出也发现了自己对于美代的感情，他发现真相后，展开了帮助美代从猫变回人类的冒险……
                                                </p>
                                            </div>

                                        </div>
                                    </a>
                                </li>
                                <li id="push_3" style="display: none;">
                                    <a href="#">
                                        <div class="image-ti">
                                            <img src="/img/s1.jpg" alt="">
                                            <div class="title">
                                                <p style="margin-left: 12px;">想哭的我带上猫的面具
                                                </p>
                                            </div>
                                            <div class="score">
                                                <p style="margin-left: 12px;"> 6.5
                                                </p>
                                            </div>
                                            <div class="paragraph">
                                                <p
                                                    style="margin-left: 12px;  text-indent: 2em;display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 6; overflow: hidden;">
                                                    绰号“无限”的少女美代(志田未来 配音)从不掩饰对少年日之出(花江夏树
                                                    配音)的好感，她在一次祭典上获得了可以变成猫的面具，并以此来接近日之出。随着交流的深入，美代越来越陷入作为猫与日之出接触的状态，并最终无法变回人类，而此时，日之出也发现了自己对于美代的感情，他发现真相后，展开了帮助美代从猫变回人类的冒险……
                                                </p>
                                            </div>

                                        </div>
                                    </a>
                                </li>
                                <div id="SpreadButton1" class="submit">展开</div>
                                <div id="PackUpButton1" class="submit" style="display: none;">收起</div>
                            </ul>
                        </div>
                        <div>
                            <p style="margin-top: 10%; font-size: 30px;">其他影荐人也喜欢：</p>
                        </div>
                        <div class="bd floor-side-body">
                            <ul>
                                <li id="push_4">
                                    <a href="#">
                                        <div class="image-ti">
                                            <img src="/img/s1.jpg" alt="">
                                            <div class="title">
                                                <p style="margin-left: 12px;">想哭的我带上猫的面具
                                                </p>
                                            </div>
                                            <div class="score">
                                                <p style="margin-left: 12px;"> 6.5
                                                </p>
                                            </div>
                                            <div class="paragraph">
                                                <p
                                                    style="margin-left: 12px;  text-indent: 2em;display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 6; overflow: hidden;">
                                                    绰号“无限”的少女美代(志田未来 配音)从不掩饰对少年日之出(花江夏树
                                                    配音)的好感，她在一次祭典上获得了可以变成猫的面具，并以此来接近日之出。随着交流的深入，美代越来越陷入作为猫与日之出接触的状态，并最终无法变回人类，而此时，日之出也发现了自己对于美代的感情，他发现真相后，展开了帮助美代从猫变回人类的冒险……
                                                </p>
                                            </div>

                                        </div>
                                    </a>
                                </li>
                                <li id="push_5" style="display: none;">
                                    <a href="#">
                                        <div class="image-ti">
                                            <img src="/img/s1.jpg" alt="">
                                            <div class="title">
                                                <p style="margin-left: 12px;">想哭的我带上猫的面具
                                                </p>
                                            </div>
                                            <div class="score">
                                                <p style="margin-left: 12px;"> 6.5
                                                </p>
                                            </div>
                                            <div class="paragraph">
                                                <p
                                                    style="margin-left: 12px;  text-indent: 2em;display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 6; overflow: hidden;">
                                                    绰号“无限”的少女美代(志田未来 配音)从不掩饰对少年日之出(花江夏树
                                                    配音)的好感，她在一次祭典上获得了可以变成猫的面具，并以此来接近日之出。随着交流的深入，美代越来越陷入作为猫与日之出接触的状态，并最终无法变回人类，而此时，日之出也发现了自己对于美代的感情，他发现真相后，展开了帮助美代从猫变回人类的冒险……
                                                </p>
                                            </div>

                                        </div>
                                    </a>
                                </li>
                                <li id="push_6" style="display: none;">
                                    <a href="#">
                                        <div class="image-ti">
                                            <img src="/img/s1.jpg" alt="">
                                            <div class="title">
                                                <p style="margin-left: 12px;">想哭的我带上猫的面具
                                                </p>
                                            </div>
                                            <div class="score">
                                                <p style="margin-left: 12px;"> 6.5
                                                </p>
                                            </div>
                                            <div class="paragraph">
                                                <p
                                                    style="margin-left: 12px;  text-indent: 2em;display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 6; overflow: hidden;">
                                                    绰号“无限”的少女美代(志田未来 配音)从不掩饰对少年日之出(花江夏树
                                                    配音)的好感，她在一次祭典上获得了可以变成猫的面具，并以此来接近日之出。随着交流的深入，美代越来越陷入作为猫与日之出接触的状态，并最终无法变回人类，而此时，日之出也发现了自己对于美代的感情，他发现真相后，展开了帮助美代从猫变回人类的冒险……
                                                </p>
                                            </div>

                                        </div>
                                    </a>
                                </li>
                                <div id="SpreadButton2" class="submit">展开</div>
                                <div id="PackUpButton2" class="submit" style="display: none;">收起</div>
                            </ul>
                        </div>
                        <div>
                            <p style="margin-top: 10%; font-size: 30px;">猜你喜欢：</p>
                        </div>
                        <div class="bd floor-side-body">
                            <ul>
                                <li id="push_7">
                                    <a href="#">
                                        <div class="image-ti">
                                            <img src="/img/s1.jpg" alt="">
                                            <div class="title">
                                                <p style="margin-left: 12px;">想哭的我带上猫的面具
                                                </p>
                                            </div>
                                            <div class="score">
                                                <p style="margin-left: 12px;"> 6.5
                                                </p>
                                            </div>
                                            <div class="paragraph">
                                                <p
                                                    style="margin-left: 12px;  text-indent: 2em;display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 6; overflow: hidden;">
                                                    绰号“无限”的少女美代(志田未来 配音)从不掩饰对少年日之出(花江夏树
                                                    配音)的好感，她在一次祭典上获得了可以变成猫的面具，并以此来接近日之出。随着交流的深入，美代越来越陷入作为猫与日之出接触的状态，并最终无法变回人类，而此时，日之出也发现了自己对于美代的感情，他发现真相后，展开了帮助美代从猫变回人类的冒险……
                                                </p>
                                            </div>

                                        </div>
                                    </a>
                                </li>
                                <li id="push_8" style="display: none;">
                                    <a href="#">
                                        <div class="image-ti">
                                            <img src="/img/s1.jpg" alt="">
                                            <div class="title">
                                                <p style="margin-left: 12px;">想哭的我带上猫的面具
                                                </p>
                                            </div>
                                            <div class="score">
                                                <p style="margin-left: 12px;"> 6.5
                                                </p>
                                            </div>
                                            <div class="paragraph">
                                                <p
                                                    style="margin-left: 12px;  text-indent: 2em;display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 6; overflow: hidden;">
                                                    绰号“无限”的少女美代(志田未来 配音)从不掩饰对少年日之出(花江夏树
                                                    配音)的好感，她在一次祭典上获得了可以变成猫的面具，并以此来接近日之出。随着交流的深入，美代越来越陷入作为猫与日之出接触的状态，并最终无法变回人类，而此时，日之出也发现了自己对于美代的感情，他发现真相后，展开了帮助美代从猫变回人类的冒险……
                                                </p>
                                            </div>

                                        </div>
                                    </a>
                                </li>
                                <li id="push_9" style="display: none;">
                                    <a href="#">
                                        <div class="image-ti">
                                            <img src="/img/s1.jpg" alt="">
                                            <div class="title">
                                                <p style="margin-left: 12px;">想哭的我带上猫的面具
                                                </p>
                                            </div>
                                            <div class="score">
                                                <p style="margin-left: 12px;"> 6.5
                                                </p>
                                            </div>
                                            <div class="paragraph">
                                                <p
                                                    style="margin-left: 12px;  text-indent: 2em;display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 6; overflow: hidden;">
                                                    绰号“无限”的少女美代(志田未来 配音)从不掩饰对少年日之出(花江夏树
                                                    配音)的好感，她在一次祭典上获得了可以变成猫的面具，并以此来接近日之出。随着交流的深入，美代越来越陷入作为猫与日之出接触的状态，并最终无法变回人类，而此时，日之出也发现了自己对于美代的感情，他发现真相后，展开了帮助美代从猫变回人类的冒险……
                                                </p>
                                            </div>

                                        </div>
                                    </a>
                                </li>
                                <div id="SpreadButton3" class="submit">展开</div>
                                <div id="PackUpButton3" class="submit" style="display: none;">收起</div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <div layout:fragment="script">
        <script>
            console.log(" %c 该项目基于Dplayer.js ", 'color:red')
            var dp = new DPlayer({
                element: document.getElementById('player1'),
                video: {
                    url: "http://vfx.mtime.cn/Video/2018/09/22/mp4/180922101119694829.mp4 ",
                    pic: '/img/s1.jpg'
                },
                // danmaku: {
                //     id: 'demo',
                //     api: "https://api.prprpr.me/dplayer/ ",
                //     addition: ["https://api.prprpr.me/dplayer/v3/bilibili?aid=15572523 "]
                // }
            });
            // 弹出框
            function alert_back(text) {
                $(".alert_back ").html(text).show();
                setTimeout(function () {
                    $(".alert_back ").fadeOut();
                }, 1200)
            }
            //秒转分秒
            function formatTime(seconds) {
                return [
                    //            parseInt(seconds / 60 / 60),
                    parseInt(seconds / 60 % 60),
                    parseInt(seconds % 60)
                ]
                    .join(": ")
                    .replace(/\b(\d)\b/g, "0$1 ");
            }
            $.ajax({
                url: "https://api.prprpr.me/dplayer/v3/bilibili?aid=15572523 ",
                success: function (data) {
                    if (data.code == "1 ") {
                        var danmaku = data.danmaku;
                        $(".danmuku_num ").text(danmaku.length)
                        $(danmaku).each(function (index, item) {
                            var oLi = `<ol class="danmuku_list " time="${item.time} "><li>${formatTime(item.time)}</li><li title="${item.text} ">${item.text}</li></ol>`
                            $(".list_ovefiow ").append(oLi);
                        })
                    } else {
                        alert_back("弹幕加载失败 -v-! ");
                    }
                    $(".danmuku_list ").on("click ", function () {

                        dp.seek($(this).attr("time "))
                    })
                }
            })
        </script>
        <script>
            $('#share-2').share({
                sites: ['qzone', 'qq', 'weibo', 'wechat']
            });

            $("#start").click(function () {
                $("#Dplayer_lb").css("display", "block");
            })
            $("#img1").click(function () {
                $("#bigimg").attr("src", "/img/movie-01.jpg");
                $("#Dplayer_lb").css("display", "none");
            })
            $("#img2").click(function () {
                $("#bigimg").attr("src", "/img/movie-02.jpg");
                $("#Dplayer_lb").css("display", "none");
            })
            $("#img3").click(function () {
                $("#bigimg").attr("src", "/img/movie-03.jpg");
                $("#Dplayer_lb").css("display", "none");
            })
            $("#img4").click(function () {
                $("#bigimg").attr("src", "/img/movie-04.jpg");
                $("#Dplayer_lb").css("display", "none");
            })
            $("#img5").click(function () {
                $("#bigimg").attr("src", "/img/movie-05.jpg");
                $("#Dplayer_lb").css("display", "none");
            })
            $("#SpreadButton1").click(function () {
                $("#push_2").slideDown(800);
                $("#push_3").slideDown(800);
                $("#SpreadButton1").slideUp(800);
                $("#PackUpButton1").slideDown(800);
            })
            $("#PackUpButton1").click(function () {
                $("#push_2").slideUp(800);
                $("#push_3").slideUp(800);
                $("#SpreadButton1").slideDown(800);
                $("#PackUpButton1").slideUp(800);
            })
            $("#SpreadButton2").click(function () {
                $("#push_5").slideDown(800);
                $("#push_6").slideDown(800);
                $("#SpreadButton2").slideUp(800);
                $("#PackUpButton2").slideDown(800);
            })
            $("#PackUpButton2").click(function () {
                $("#push_5").slideUp(800);
                $("#push_6").slideUp(800);
                $("#SpreadButton2").slideDown(800);
                $("#PackUpButton2").slideUp(800);
            })
            $("#SpreadButton3").click(function () {
                $("#push_8").slideDown(800);
                $("#push_9").slideDown(800);
                $("#SpreadButton3").slideUp(800);
                $("#PackUpButton3").slideDown(800);
            })
            $("#PackUpButton3").click(function () {
                $("#push_8").slideUp(800);
                $("#push_9").slideUp(800);
                $("#SpreadButton3").slideDown(800);
                $("#PackUpButton3").slideUp(800);
            })
        </script>
        <script th:inline="javascript">
            // 将3D BOX的背景图路径替换成图片的URL
            var imgUrl3D = /*[[${movie.imgUrl} eq null?'/img/default.jpg':'http://10.236.11.10/img/'+${movie.movieId}+'.jpg']]*/ '/img/default.jpg';
            $(".movie .poster").css("background-image", "url(" + imgUrl3D + ")");
            // 评论区的json赋值
            var arr = [];
            var temp = {};
            $.each(/*[[${commentAreaList}]]*/[{ "userName": "hello" }], function (index, items) {
                temp = {};
                temp.id = index + 1;
                temp.img = items.imgUrl;
                temp.beReplyName = "";
                temp.replyName = items.userName;
                temp.content = items.comment;
                if (items.createInfo != null) {
                    temp.time = items.createInfo + "";
                    temp.time = temp.time.slice(0, 10) + "  " + temp.time.slice(11, 19);
                }
                else {
                    temp.time = "";
                }
                temp.address = "";
                temp.osname = "";
                temp.browse = "";
                temp.replyBody = "";
                arr.push(temp);
            });

            // comment-list将评论展示出来，comment1是登录提交按钮，comment2是未登录普通按钮
            $(function () {
                $(".comment-list").addCommentList({
                    data: arr,
                    add: ""
                });
                $('#comment1').click(function () {
                    $.post(/*[['/movieinfo/'+${movie.movieId}]]*/ "https://www.baidu.com",
                        {
                            content: $("#content").val()
                        },
                        function (data, status) {
                            var arr = [];
                            var temp = {};
                            for (var i = 0; i < data.length; i++) {
                                temp = {};
                                temp.id = i + 1;
                                temp.img = data[i].imgUrl;
                                temp.beReplyName = "";
                                temp.replyName = data[i].userName;
                                temp.content = data[i].comment;
                                if (data[i].createInfo != null) {
                                    temp.time = data[i].createInfo + "";
                                    temp.time = temp.time.slice(0, 10) + "  " + temp.time.slice(11, 19);
                                }
                                else {
                                    temp.time = "";
                                }
                                temp.address = "";
                                temp.osname = "";
                                temp.browse = "";
                                temp.replyBody = "";
                                arr.push(temp);
                            }
                            $(".comment-info").remove();
                            $(".comment-list").addCommentList({
                                data: arr,
                                add: ""
                            });
                        });
                    swal("评论已成功发布!", "影荐人为您服务", "success");
                });
                $('#comment2').click(function () {
                    swal({
                        title: "登录状态异常",
                        text: "您现在处于游客模式，请在登录再提交评价！",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    }).then((ok) => {
                        if (ok) {
                            window.location.href = /*[[@{/login}]]*/"https://www.baidu.com"
                        }
                        else {
                            $(".comment-info").remove();
                        }
                    });
                });
            })
        </script>
        <script th:inline="javascript">
            $(document).ready(function () {
                // 打开页面时显示是否喜欢
                if (/*[[${isLike} gt 0]]*/ true) {
                    $('.heart').addClass("heartAnimation");
                }
                else {
                    $('.heart').removeClass("heartAnimation");
                }
                // 打开页面时显示评分
                for (var i = 0; i < 5; i++) {
                    $(".br-widget").find('a').eq(i).removeClass();
                }
                for (var i = 0; i < /*[[${myscore}]]*/ 5; i++) {
                    $(".br-widget").find('a').eq(i).addClass("br-selected");
                }
                $(".br-widget").find('a').eq(/*[[${myscore}]]*/ 5 - 1).addClass("br-current");

                $('body').on("click", '#like1', function () {
                    //var A = $(this).attr("id");
                    //var B = A.split("like");
                    //var messageID = B[1];
                    //var C = parseInt($("#likeCount" + messageID).html());
                    $(this).css("background-position", "")
                    var D = $(this).attr("rel");

                    if (D === 'like') {
                        //$("#likeCount" + messageID).html(C + 1);
                        $(this).addClass("heartAnimation").attr("rel", "unlike");
                    } else {
                        //$("#likeCount" + messageID).html(C - 1);
                        $(this).removeClass("heartAnimation").attr("rel", "like");
                        $(this).css("background-position", "left")
                    }
                });
            });
        </script>
        <script th:inline="javascript">
            // 喜欢键添加异步获取
            $(function () {
                $("#like1").click(function () {
                    $.post(/*[['/movieinfo/like/'+${movie.movieId}]]*/ "https://www.baidu.com",
                        {}, function (data, status) {
                            swal(data, "影荐人为您服务！", "success");
                        });
                });
                $("#like2").click(function () {
                    swal({
                        title: "登录状态异常",
                        text: "您现在处于游客模式，请在登录再点亮❤！",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    }).then((ok) => {
                        if (ok) {
                            window.location.href = /*[[@{/login}]]*/"https://www.baidu.com"
                        }
                    });
                });
            })
        </script>
        <script th:inline="javascript">
            // 评分异步获取
            $(function () {
                $(".br-widget").children().click(function () {
                    if (/*[[${isLogin}]]*/ true) {
                        swal({
                            text: "亲😙，提交评分后不再允许修改，请谨慎评分哦！",
                            buttons: true,
                            dangerMode: true,
                        }).then((ok) => {
                            if (ok) {
                                $.post(/*[['/movieinfo/score/'+${movie.movieId}]]*/ "https://www.baidu.com",
                                    {
                                        score: $('#example-f option:selected').val(),
                                    }, function (data, status) {
                                        if (data.status == 1) {
                                            swal("", "感谢您的评分！", "success");
                                        }
                                        else {
                                            swal("", "您已提交过评分，请勿重复提交", "error").then((ok) => {
                                                for (var i = 0; i < 5; i++) {
                                                    $(".br-widget").find('a').eq(i).removeClass();
                                                }
                                                for (var i = 0; i < data.score; i++) {
                                                    $(".br-widget").find('a').eq(i).addClass("br-selected");
                                                }
                                                $(".br-widget").find('a').eq(data.score - 1).addClass("br-current");
                                            });
                                        }
                                    });
                            }
                        });
                    }
                    else {
                        swal({
                            title: "登录状态异常",
                            text: "您现在处于游客模式，请在登录再点亮✨！",
                            icon: "warning",
                            buttons: true,
                            dangerMode: true,
                        }).then((ok) => {
                            if (ok) {
                                window.location.href = /*[[@{/login}]]*/"https://www.baidu.com"
                            }
                        });
                    }
                });
            })
        </script>
    </div>
</body>

</html>