<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
    <title></title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="fontawesome-free-5.11.2-web/css/all.min.css" />
    <link rel="stylesheet" href="slick/slick.css">
    <link rel="stylesheet" href="slick/slick-theme.css">
    <link rel="stylesheet" href="magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="bootstrap-4.5.0-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="css/templatemo-style.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/recommend.css" />
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="slick/slick.min.js"></script>
    <script src="magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.singlePageNav.min.js"></script>
    <script src="bootstrap-4.5.0-dist/js/bootstrap.js"></script>
</head>

<div>
    <div class="page_content">
        <div class="carousel_container paging_capsules curator_cluster_expanded" id="feature_curators_block_0">
            <div class="carousel_items curator_featured_tags">
                <div class="curator_page">
                    <div class="profile">
                        <a href="#影评人主页"><img class="avatar" src="img/s1.jpg"></a>
                        <div class="info">
                            <div class="name">关注 <span>影评人名称</span>，获得更多类似影评！</div>
                            <div class="actions">
                                <div>
                                    <a class=" follow_button btn_green_steamui btn_medium " href="#"><span>关注</span></a>
                                    <a class=" following_button btn_green_steamui btn_medium " style="display: none;"
                                        href="#"><span>已关注</span></a>
                                </div>
                                <div class="followers"><span>632,647</span> 名关注者</div>
                            </div>
                        </div>
                    </div>
                    <div class="curations row">
                        <div class="col-md-6">
                            <a class="store_capsule app_impression_tracked" href="#电影详情页">
                                <div class="capsule headerv5">
                                    <img src="img/movie-01.jpg">
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <span class="review_direction color_recommended">推荐</span>
                            <div class="text-light">影评：当人工智能脱离人类掌控，会发生什么?在这样的世界背景之下，玩家不只要搜索资源，强化自己，还
                                要注意小心其他玩家以及机器人带来的威胁，本作是一款开放世界的多
                                人在线游戏，拥有昼夜与天气系统，玩家可以组队也可以单人，获取来自空投或者废弃房屋集装箱中的资源装备，
                                补充食物水源，以及各种武装，安全基地内的NPC提供全球库功能，储存的资源可以在任何服务器使用和玩家交易。
                                制作无人机进行侦察,升级解锁新制作和技能
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>