<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>search</title>
	<link rel="stylesheet" href="fontawesome-free-5.11.2-web/css/all.min.css" />
	<link rel="stylesheet" href="magnific-popup/magnific-popup.css">
	<link rel="stylesheet" href="bootstrap-4.5.0-dist/css/bootstrap.css" />
	<link rel="stylesheet" href="css/templatemo-style.css" />
	<link rel="stylesheet" href="css/search-select.css" />
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="js/jquery.singlePageNav.min.js"></script>
	<script src="bootstrap-4.5.0-dist/js/bootstrap.js"></script>
</head>

<body>
	<!-- navbar section -->
	<section id="myNavbar" th:include="layout::navbar"></section>
	<!-- search section -->
	<section>
		<div style="height: 60px;"></div>
		<div class="filter-wrap container">
			<ul class="filter-type clearfix order">
				<li class="filter-item active"><a href="javascript:;">综合排序</a></li>
				<li class="filter-item"><a href="javascript:;">最多点击</a></li>
				<li class="filter-item"><a href="javascript:;">最新发布</a></li>
				<li class="filter-item"><a href="javascript:;">最多评论</a></li>
				<li class="filter-item"><a href="javascript:;">最多收藏</a></li>
			</ul>
			<ul class="filter-type clearfix duration">
				<li class="filter-item active"><a href="javascript:;">全部时长</a></li>
				<li class="filter-item"><a href="javascript:;">60分钟以下</a></li>
				<li class="filter-item"><a href="javascript:;">60-120分钟</a></li>
				<li class="filter-item"><a href="javascript:;">120-200分钟</a></li>
				<li class="filter-item"><a href="javascript:;">200分钟以上</a></li>
			</ul>
			<ul class="filter-type clearfix tids_1">
				<li class="filter-item active"><a href="javascript:;">全部类型</a></li>
				<li class="filter-item"><a href="javascript:;">喜剧</a></li>
				<li class="filter-item"><a href="javascript:;">爱情</a></li>
				<li class="filter-item"><a href="javascript:;">动作</a></li>
				<li class="filter-item"><a href="javascript:;">惊悚</a></li>
				<li class="filter-item"><a href="javascript:;">科幻</a></li>
				<li class="filter-item"><a href="javascript:;">奇幻</a></li>
				<li class="filter-item"><a href="javascript:;">战争</a></li>
				<li class="filter-item"><a href="javascript:;">灾难</a></li>
				<li class="filter-item"><a href="javascript:;">悬疑</a></li>
				<li class="filter-item"><a href="javascript:;">记录</a></li>
				<li class="filter-item"><a href="javascript:;">其他</a></li>
			</ul>
			<ul class="filter-type clearfix tids_1">
				<li class="filter-item active"><a href="javascript:;">全部年代</a></li>
				<li class="filter-item"><a href="javascript:;">60s前</a></li>
				<li class="filter-item"><a href="javascript:;">60s</a></li>
				<li class="filter-item"><a href="javascript:;">70s</a></li>
				<li class="filter-item"><a href="javascript:;">80s</a></li>
				<li class="filter-item"><a href="javascript:;">90s</a></li>
				<li class="filter-item"><a href="javascript:;">00s</a></li>
				<li class="filter-item"><a href="javascript:;">10s</a></li>
				<li class="filter-item"><a href="javascript:;">20s</a></li>
			</ul>
			<ul class="filter-type clearfix tids_1">
				<li class="filter-item active"><a href="javascript:;">全部语言</a></li>
				<li class="filter-item"><a href="javascript:;">汉语</a></li>
				<li class="filter-item"><a href="javascript:;">粤语</a></li>
				<li class="filter-item"><a href="javascript:;">英语</a></li>
				<li class="filter-item"><a href="javascript:;">法语</a></li>
				<li class="filter-item"><a href="javascript:;">德语</a></li>
				<li class="filter-item"><a href="javascript:;">西班牙语</a></li>
				<li class="filter-item"><a href="javascript:;">日语</a></li>
				<li class="filter-item"><a href="javascript:;">韩语</a></li>
				<li class="filter-item"><a href="javascript:;">其他</a></li>
			</ul>
			<a class="fold up"><span>收起</span><i class="arrow-up"></i></a>
			<a class="fold down" style="display: none;"><span>更多筛选</span><i class="arrow-down"></i></a>
			<!-- <div class="switch-wrap">
				<div class="aver type active"><i class="icon-aver"></i></div>
				<div class="imgleft type"><i class="icon-imgleft"></i></div>
			</div> -->
		</div>
	</section>
	<section id="result">
		<div class="container tm-container-gallery">
			<div class="row">
				<div class="col-12">
					<div class="mx-auto tm-gallery-container">
						<div id="resultElement" class="grid tm-gallery">
							<a url="">
								<figure class="effect-honey tm-gallery-item">
									<img src="img/gallery-tn-01.jpg" alt="Image" class="img-fluid">
									<figcaption>
										<h2><i>导演<br><span>类型</span><br> 评分:2.3<i class="fas fa-star"></i></i></h2>
									</figcaption>
									<p>电影名称</p>
								</figure>
							</a>
							<a url="">
								<figure class="effect-honey tm-gallery-item">
									<img src="img/gallery-tn-02.jpg" alt="Image" class="img-fluid">
									<figcaption>
										<h2><i>导演<br><span>类型</span><br> 评分:4.8<i class="fas fa-star"></i></i></h2>
									</figcaption>
									<p>电影名称</p>
								</figure>
							</a>
							<a url="">
								<figure class="effect-honey tm-gallery-item">
									<img src="img/gallery-tn-03.jpg" alt="Image" class="img-fluid">
									<figcaption>
										<h2><i>导演<br><span>类型</span><br> 评分:1.7<i class="fas fa-star"></i></i></h2>
									</figcaption>
									<p>电影名称</p>
								</figure>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- footer section -->
	<section id="contact" th:include="layout::contact"></section>

	<script>

		function getOffSet() {
			var _offset = 450;
			var windowHeight = window.innerHeight;

			if (windowHeight > 500) {
				_offset = 400;
			}
			if (windowHeight > 680) {
				_offset = 300
			}
			if (windowHeight > 830) {
				_offset = 210;
			}

			return _offset;
		}

		function setParallaxPosition($doc, multiplier, $object) {
			var offset = getOffSet();
			var from_top = $doc.scrollTop(),
				bg_css = 'center ' + (multiplier * from_top - offset) + 'px';
			$object.css({ "background-position": bg_css });
		}

		var background_image_parallax = function ($object, multiplier, forceSet) {
			multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
			multiplier = 1 - multiplier;
			var $doc = $(document);
			// $object.css({"background-attatchment" : "fixed"});

			if (forceSet) {
				setParallaxPosition($doc, multiplier, $object);
			} else {
				$(window).scroll(function () {
					setParallaxPosition($doc, multiplier, $object);
				});
			}
		};

		var background_image_parallax_2 = function ($object, multiplier) {
			multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
			multiplier = 1 - multiplier;
			var $doc = $(document);
			$object.css({ "background-attachment": "fixed" });
			$(window).scroll(function () {
				var firstTop = $object.offset().top,
					pos = $(window).scrollTop(),
					yPos = Math.round((multiplier * (firstTop - pos)) - 186);

				var bg_css = 'center ' + yPos + 'px';

				$object.css({ "background-position": bg_css });
			});
		};

		$(function () {
			// Hero Section - Background Parallax
			background_image_parallax($(".tm-parallax"), 0.30, false);
			background_image_parallax_2($("#contact"), 0.80);

			// Handle window resize
			window.addEventListener('resize', function () {
				background_image_parallax($(".tm-parallax"), 0.30, true);
			}, true);

			// Detect window scroll and update navbar
			$(window).scroll(function (e) {
				if ($(document).scrollTop() > 120) {
					$('.tm-navbar').addClass("scroll");
				} else {
					$('.tm-navbar').removeClass("scroll");
				}
			});

			// Close mobile menu after click 
			$('#tmNav a').on('click', function () {
				$('.navbar-collapse').removeClass('show');
			})

			// Scroll to corresponding section with animation
			$('#tmNav').singlePageNav();

			// Add smooth scrolling to all links
			// https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
			$("a").on('click', function (event) {
				if (this.hash !== "") {
					event.preventDefault();
					var hash = this.hash;

					$('html, body').animate({
						scrollTop: $(hash).offset().top
					}, 400, function () {
						window.location.hash = hash;
					});
				} // End if
			});

			// Pop up
			$('.tm-gallery').magnificPopup({
				delegate: 'a',
				type: 'image',
				gallery: { enabled: true }
			});
		});
	</script>
</body>

</html>