<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="/shared/_layout">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Search</title>
	<!--只用添加layout中没有链接的部分-->
	<link rel="stylesheet" href="/css/search-select.css" />

</head>

<body>
	<section layout:fragment="content">
		<!-- search section -->
		<section>
			<div style="height: 60px;"></div>
			<div class="filter-wrap container">
				<ul class="filter-type clearfix order">
					<li class="filter-item active"><a onclick="OnOrderClick('0')" href="javascript:;">综合排序</a></li>
					<li id="1" class="filter-item"><a onclick="OnOrderClick('1')" href="javascript:;">最多点击</a></li>
					<li id="2" class="filter-item"><a onclick="OnOrderClick('2')" href="javascript:;">最高评分</a></li>
					<li id="3" class="filter-item"><a onclick="OnOrderClick('3')" href="javascript:;">最新发布</a></li>
					<li id="4" class="filter-item"><a onclick="OnOrderClick('4')" href="javascript:;">最多评论</a></li>
				</ul>
				<ul class="filter-type clearfix duration">
					<li class="filter-item active"><a onclick="OnDurationClick('')" href="javascript:;">全部时长</a></li>
					<li id="0t60" class="filter-item"><a onclick="OnDurationClick('0t60')" href="javascript:;">60分钟以下</a></li>
					<li id="60t120" class="filter-item"><a onclick="OnDurationClick('60t120')" href="javascript:;">60-120分钟</a></li>
					<li id="120t200" class="filter-item"><a onclick="OnDurationClick('120t200')" href="javascript:;">120-200分钟</a></li>
					<li id="200t999" class="filter-item"><a onclick="OnDurationClick('200t999')" href="javascript:;">200分钟以上</a></li>
				</ul>
				<ul class="filter-type clearfix time">
					<li class="filter-item active"><a onclick="OnYearClick('')" href="javascript:;">全部年代</a></li>
					<li id="0t1960" class="filter-item"><a onclick="OnYearClick('0t1960')" href="javascript:;">60s前</a></li>
					<li id="1960t1970" class="filter-item"><a onclick="OnYearClick('1960t1970')" href="javascript:;">60s</a></li>
					<li id="1970t1980" class="filter-item"><a onclick="OnYearClick('1970t1980')" href="javascript:;">70s</a></li>
					<li id="1980t1990" class="filter-item"><a onclick="OnYearClick('1980t1990')" href="javascript:;">80s</a></li>
					<li id="1990t2000" class="filter-item"><a onclick="OnYearClick('1990t2000')" href="javascript:;">90s</a></li>
					<li id="2000t2010" class="filter-item"><a onclick="OnYearClick('2000t2010')" href="javascript:;">00s</a></li>
					<li id="2010t2020" class="filter-item"><a onclick="OnYearClick('2010t2020')" href="javascript:;">10s</a></li>
					<li id="2020t2030" class="filter-item"><a onclick="OnYearClick('2020t2030')" href="javascript:;">20s</a></li>
				</ul>
				<ul class="filter-type clearfix language">
					<li class="filter-item active"><a onclick="OnLanguageClick('')" href="javascript:;">全部语言</a></li>
					<li id="汉语" class="filter-item"><a onclick="OnLanguageClick('汉语')" href="javascript:;">汉语</a></li>
					<li id="粤语" class="filter-item"><a onclick="OnLanguageClick('粤语')" href="javascript:;">粤语</a></li>
					<li id="英语" class="filter-item"><a onclick="OnLanguageClick('英语')" href="javascript:;">英语</a></li>
					<li id="法语" class="filter-item"><a onclick="OnLanguageClick('法语')" href="javascript:;">法语</a></li>
					<li id="德语" class="filter-item"><a onclick="OnLanguageClick('德语')" href="javascript:;">德语</a></li>
					<li id="西班牙语" class="filter-item"><a onclick="OnLanguageClick('西班牙语')" href="javascript:;">西班牙语</a></li>
					<li id="日语" class="filter-item"><a onclick="OnLanguageClick('日语')" href="javascript:;">日语</a></li>
					<li id="韩语" class="filter-item"><a onclick="OnLanguageClick('韩语')" href="javascript:;">韩语</a></li>
				</ul>
				<ul class="filter-type clearfix type">
					<li class="filter-item active"><a onclick="OnGenreClick('')" href="javascript:;">全部类型</a></li>
					<li id="剧情" class="filter-item"><a onclick="OnGenreClick('剧情')" href="javascript:;">剧情</a></li>
					<li id="喜剧" class="filter-item"><a onclick="OnGenreClick('喜剧')" href="javascript:;">喜剧</a></li>
					<li id="动作" class="filter-item"><a onclick="OnGenreClick('动作')" href="javascript:;">动作</a></li>
					<li id="爱情" class="filter-item"><a onclick="OnGenreClick('爱情')" href="javascript:;">爱情</a></li>
					<li id="科幻" class="filter-item"><a onclick="OnGenreClick('科幻')" href="javascript:;">科幻</a></li>
					<li id="动画" class="filter-item"><a onclick="OnGenreClick('动画')" href="javascript:;">动画</a></li>
					<li id="悬疑" class="filter-item"><a onclick="OnGenreClick('悬疑')" href="javascript:;">悬疑</a></li>
					<li id="惊悚" class="filter-item"><a onclick="OnGenreClick('惊悚')" href="javascript:;">惊悚</a></li>
					<li id="恐怖" class="filter-item"><a onclick="OnGenreClick('恐怖')" href="javascript:;">恐怖</a></li>
					<li id="犯罪" class="filter-item"><a onclick="OnGenreClick('犯罪')" href="javascript:;">犯罪</a></li>
					<li id="同性" class="filter-item"><a onclick="OnGenreClick('同性')" href="javascript:;">同性</a></li>
					<li id="音乐" class="filter-item"><a onclick="OnGenreClick('音乐')" href="javascript:;">音乐</a></li>
					<li id="歌舞" class="filter-item"><a onclick="OnGenreClick('歌舞')" href="javascript:;">歌舞</a></li>
					<li id="传记" class="filter-item"><a onclick="OnGenreClick('传记')" href="javascript:;">传记</a></li>
					<li id="历史" class="filter-item"><a onclick="OnGenreClick('历史')" href="javascript:;">历史</a></li>
					<li id="战争" class="filter-item"><a onclick="OnGenreClick('战争')" href="javascript:;">战争</a></li>
					<li id="西部" class="filter-item"><a onclick="OnGenreClick('西部')" href="javascript:;">西部</a></li>
					<li id="奇幻" class="filter-item"><a onclick="OnGenreClick('奇幻')" href="javascript:;">奇幻</a></li>
					<li id="冒险" class="filter-item"><a onclick="OnGenreClick('冒险')" href="javascript:;">冒险</a></li>
					<li id="灾难" class="filter-item"><a onclick="OnGenreClick('灾难')" href="javascript:;">灾难</a></li>
					<li id="武侠" class="filter-item"><a onclick="OnGenreClick('武侠')" href="javascript:;">武侠</a></li>
					<li id="情色" class="filter-item"><a onclick="OnGenreClick('情色')" href="javascript:;">情色</a></li>
				</ul>
			</div>
		</section>
		<section id="result" style="padding-bottom: 30px;">
			<div class="container tm-container-gallery">
				<div class="row" style="padding-bottom: 20px;">
					<div class="col-12">
						<div class="mx-auto tm-gallery-container">
							<div id="resultElement" class="grid">
								<a th:each="movie : ${Movies}" th:href="'/movieinfo/'+ ${movie.movieId}">
									<figure class="effect-honey">
										<img th:src="${movie.imgUrl}" alt="Image" class="img-fluid">
										<figcaption>
											<h3><i><i th:text="'导演:'+ ${movie.directors}"></i><br><span
														th:text="'类型:'+ ${movie.genres}"></span><br> <i
														th:text="'评分:'+${movie.score}"></i>
													<li class="fas fa-star"></li>
												</i></h3>
										</figcaption>
										<p th:text="${movie.moiveName}"></p>
									</figure>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="offset-md-3 col-md-7">
						<!-- 处理页数小于等于7 的情况 -->
						<ul th:if="${(totalPages le 7)&&(totalPages gt 0)}" class="pagination">
							<li th:if="${pageIndex eq 1}" class="page-item disabled"><a class="page-link" href="#">上一页</a>
							</li>
							<li th:if="${pageIndex gt 1}" class="page-item">
								<a class="page-link" th:href="@{/search(pageIndex=${pageIndex}-1,size=${size},duration=${duration},year=${year},language=${language},genre=${genre},order=${order},keywords=${keywords})}">上一页</a>
							</li>
							<li th:each="index:${#numbers.sequence(1,totalPages)}" th:classappend="${index eq pageIndex}?'active'" class="page-item">
											<a th:href="@{/search(pageIndex=${index},size=${size},duration=${duration},year=${year},language=${language},genre=${genre},order=${order},keywords=${keywords})}" class="page-link"  th:text="${index}"></a>
										</li>
										<li th:if="${pageIndex eq totalPages}" class="page-item disabled">
											<a class="page-link" href="#">下一页</a>
										</li>
										<li th:if="${pageIndex lt totalPages}" class="page-item">
											<a class="page-link" th:href="@{/search(pageIndex=${pageIndex}+1,size=${size},duration=${duration},year=${year},language=${language},genre=${genre},order=${order},keywords=${keywords})}">下一页</a>
										</li>
									</ul>
									<!-- 处理页数大于7 的情况 -->
									<ul th:if="${totalPages gt 7}" class="pagination">
										<li th:if="${pageIndex eq 1}" class="page-item disabled">
											<a class="page-link" href="#">上一页</a>
										</li>
										<li th:if="${pageIndex gt 1}" class="page-item">
											<a class="page-link" th:href="@{/search(pageIndex=${pageIndex}-1,size=${size},duration=${duration},year=${year},language=${language},genre=${genre},order=${order},keywords=${keywords})}">上一页</a>
										</li>
										<!-- 首页 -->
										<li th:classappend="${pageIndex eq 1}?'active'" class="page-item">
											<a class="page-link" th:href="@{/search(pageIndex=1,size=${size},duration=${duration},year=${year},language=${language},genre=${genre},order=${order},keywords=${keywords})}">1</a>
										</li>
										<!-- 当前页面小于等于4 -->
										<li th:if="${pageIndex le 4}" th:each="index:${#numbers.sequence(2,5)}" th:classappend="${index eq pageIndex}?'active'" class="page-item">
											<a th:href="@{/search(pageIndex=${index},size=${size},duration=${duration},year=${year},language=${language},genre=${genre},order=${order},keywords=${keywords})}" class="page-link"  th:text="${index}"></a>
										</li>
										<li th:if="${pageIndex le 4}" class="page-item">
											<a  class="page-link" th:href="@{/search(pageIndex=6,size=${size},duration=${duration},year=${year},language=${language},genre=${genre},order=${order},keywords=${keywords})}">...</a>
										</li>
										<!-- 最后一页与当前页面之差小于等于3 -->
										<li th:if="${totalPages-pageIndex le 3}" class="page-item">
											<a  class="page-link" th:href="@{/search(pageIndex=${totalPages-5},size=${size},duration=${duration},year=${year},language=${language},genre=${genre},order=${order},keywords=${keywords})}">...</a>
										</li>
										<li th:if="${totalPages-pageIndex le 3}" th:each="index:${#numbers.sequence(totalPages-4,totalPages-1)}" th:classappend="${index eq pageIndex}?'active'" class="page-item">
											<a th:href="@{/search(pageIndex=${index},size=${size},duration=${duration},year=${year},language=${language},genre=${genre},order=${order},keywords=${keywords})}" class="page-link"  th:text="${index}"></a>
										</li>
										<!-- 最后一页与当前页面之差大于3 且当前页面大于4 -->
										<li th:if="${(pageIndex gt 4) && (totalPages-pageIndex gt 3)}" class="page-item">
											<a class="page-link" th:href="@{/search(pageIndex=${pageIndex-2},size=${size},duration=${duration},year=${year},language=${language},genre=${genre},order=${order},keywords=${keywords})}">...</a>
										</li>
										<li th:if="${(pageIndex gt 4) && (totalPages-pageIndex gt 3)}" th:each="index:${#numbers.sequence(pageIndex-1,pageIndex+1)}" th:classappend="${index eq pageIndex}?'active'" class="page-item">
											<a class="page-link" th:href="@{/search(pageIndex=${index},size=${size},duration=${duration},year=${year},language=${language},genre=${genre},order=${order},keywords=${keywords})}" th:text="${index}"></a>
										</li>
										<li th:if="${(pageIndex gt 4) && (totalPages-pageIndex gt 3)}" class="page-item">
											<a class="page-link" th:href="@{/search(pageIndex=${pageIndex+2},size=,keywords=${keywords})}">...</a>
										</li>
										<!-- 尾页 -->
										<li th:classappend="${pageIndex eq totalPages}?'active'" class="page-item">
											<a class="page-link" th:href="@{/search(pageIndex=${totalPages},size=${size},duration=${duration},year=${year},language=${language},genre=${genre},order=${order},keywords=${keywords})}" th:text="${totalPages}">尾页</a>
										</li>
										<li th:if="${pageIndex eq totalPages}" class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
										<li th:if="${pageIndex lt totalPages}" class="page-item">
											<a class="page-link" th:href="@{/search(pageIndex=${pageIndex}+1,size=${size},duration=${duration},year=${year},language=${language},genre=${genre},order=${order},keywords=${keywords})}">下一页</a>
										</li>
										<div class="input-group" style="height: 38px;width: 150px;">
											<input type="number" min="1" th:max="${totalPages}" th:value="${pageIndex}" class="form-control toPage">                    <div class="input-group-append">                        
											<button type="button" class="btn btn-primary toUrl">跳转</button>                    
										</div>                
									</div>             
								</ul>        
							</div>    
						</div>
				</section>
			</section>
	<div layout:fragment="script">
		<script th:inline="javascript" type="text/javascript" >
			var size = /*[[${size}]]*/ 20;
			var duration = /*[[${duration}]]*/ "";
			var year = /*[[${year}]]*/ "";
			var language = /*[[${language}]]*/ "";
			var genre = /*[[${genre}]]*/ "";
			var order = /*[[${order}]]*/ "";
			var keywords = /*[[${keywords}]]*/ "";
			function InitializeFilter(){
				$(".order li").click(function () { 
					$(".order li").removeClass("active"); 
					$(this).addClass("active"); 
				});
				$(".duration li").click(function () { 
					$(".duration li").removeClass("active"); 
					$(this).addClass("active"); 
				});
				$(".type li").click(function () { 
					$(".type li").removeClass("active"); 
					$(this).addClass("active"); 
				});
				$(".time li").click(function () { 
					$(".time li").removeClass("active"); 
					$(this).addClass("active"); 
				});
				$(".language li").click(function () { 
					$(".language li").removeClass("active"); 
					$(this).addClass("active"); 
				});
				$(".pagination .num").click(function () { 
					$(".pagination .num").removeClass("active"); 
					$(this).addClass("active"); 
				});
				if(duration!=null&&duration!="null"&& duration.length!=0){
					$(".duration li").removeClass("active"); 
					$("#"+duration).addClass("active"); 
				}
				else{
					duration = '';
				}
				if(year!=null&&year!="null"&& year.length!=0){
					$(".time li").removeClass("active"); 
					$("#"+year).addClass("active"); 
				}
				else{
					year = '';
				}
				if(language!=null&&language!="null"&& language.length!=0){
					$(".language li").removeClass("active"); 
					$("#"+language).addClass("active"); 
				}
				else{
					language = '';
				}
				if(genre!=null&&genre!="null"&& genre.length!=0){
					$(".type li").removeClass("active"); 
					$("#"+genre).addClass("active"); 
				}
				else{
					genre = '';
				}
				if(order!=null&&order!="null"&& order.length!=0&&order!='0'){
					$(".order li").removeClass("active"); 
					$("#"+order).addClass("active"); 
				}
				else{
					order = '0';
				}
			}
			
			function OnOrderClick(str){
				window.location.href = "/search?pageIndex=1&size=20&duration="+duration+"&year="+year+"&language="+language+"&genre="+genre+"&order="+str+"&keywords="+keywords;
			}
			function OnDurationClick(str){
				window.location.href = "/search?pageIndex=1&size=20&duration="+str+"&year="+year+"&language="+language+"&genre="+genre+"&order="+order+"&keywords="+keywords;
			}
			function OnGenreClick(str){
				window.location.href = "/search?pageIndex=1&size=20&duration="+duration+"&year="+year+"&language="+language+"&genre="+str+"&order="+order+"&keywords="+keywords;
			}
			function OnYearClick(str){
				window.location.href = "/search?pageIndex=1&size=20&duration="+duration+"&year="+str+"&language="+language+"&genre="+genre+"&order="+order+"&keywords="+keywords;
			}
			function OnLanguageClick(str){
				window.location.href = "/search?pageIndex=1&size=20&duration="+duration+"&year="+year+"&language="+str+"&genre="+genre+"&order="+order+"&keywords="+keywords;
			}

			function GetQueryString(name)
			{
				var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)"); //这个正则是寻找&+url参数名字=值+&&可以不存在。
				var r = window.location.search.substr(1).match(reg);//search,查询？后面的参数，并匹配正则
				if(r!=null)return  unescape(r[2]); return null;
			}
			$(document).ready(function(){
				InitializeFilter();
			});
		</script>
	</div>
	
</body>

</html>