<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>layout</title>

</head>

<body>
    <section th:fragment="page1" id="page1" class="tm-section-pad-top tm-parallax-2">
        <div id="page_comment" class="page ">
            <div class="page col-lg-12" style="height: 40px;"></div>
            <div class="count" th:each="c:${commentList}">
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img"></div>
                    <div class="cd-timeline-content">
                        <h2 th:text="${c.movie.movieName}">标题</h2>
                        <p class="pre" th:text="${c.movie.createdAt}">这里是评论时间</p>
                        <p class="pre" th:text="${c.movie.storyLine}">这里是您的评论</p>
                        <a href="#" class="cd-read-more">阅读更多</a>
                        <span class="cd-date">Jan 7</span>
                    </div>
                </div>
            </div>
            <div class="page col-lg-12" style="height: 40px;"></div>
        </div>
    </section>

    <section th:fragment="page2" id="page2" class="tm-section-pad-top tm-parallax-2">
        <div id="page_history" class="page" style="background-color: rgba(255, 209, 139);">
            <div class="page col-lg-12" style="height: 40px; background-color: rgba(255, 209, 139)"></div>
            <div class="count" style="background-color: rgb(255, 209, 139);">
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img" style="background-color: rgb(248, 186, 52);"></div>
                    <div class="cd-timeline-block" th:each="h:${historyList}">
                        <div class="cd-timeline-img " style="background-color: rgb(248, 186, 52);"></div>
                        <div class="cd-timeline-content" style="background-color: rgb(250, 243, 233);">
                            <h2 th:text="${h.movie.movieName}">电影标题</h2>
                            <p th:text="${h.movie.storyLine}" class="pre">电影简介</p>
                            <a th:href="'/movieinfo/'+${h.movie.movieId}" class="cd-read-more">跳转至电影详情</a>
                            <span th:text="${h.movie.createdAt}" class="cd-date">Jan 18</span>
                        </div>
                    </div>
                </div>
                <div class="page col-lg-12" style="height: 40px; background-color: rgb(255, 209, 139);">
                </div>
            </div>

        </div>
    </section>

    <section th:fragment="page3" id="page3" class="tm-section-pad-top tm-parallax-2">
        <div id="page_pick" class="page" style="background-color: rgb(148, 218, 171); ">
            <div class="page col-lg-12" style="height: 40px; background-color: rgb(148, 218, 171);">
            </div>
            <div class="count" style="background-color: rgb(148, 218, 171);">
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img" style="background-color: rgb(65, 173, 146);"></div>
                    <div class="cd-timeline-content" style="background-color: rgb(233, 250, 238);" th:each="r:${recommendList}">
                        <h2 th:text="${r.movie.movieName}">电影标题</h2>
                        <p th:text="${h.movie.storyLine}" class="pre">简介</p>
                        <a href="'/movieinfo/'+${h.movie.movieId}" class="cd-read-more">跳转至电影详情</a>
                        <!-- <span th:text="${h.movie.year}" class="cd-date">Jan 7</span> -->
                    </div>
                </div>
            <div class="page col-lg-12" style="height: 40px; background-color: rgb(148, 218, 171);">
            </div>
        </div>
    </section>
</body>