<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
    layout:decorator="/shared/_layout">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SelfSpace</title>
    <link rel="stylesheet" href="/slick/slick.css">
    <link rel="stylesheet" href="/slick/slick-theme.css">
    <link rel="stylesheet" href="/css/search-select.css" />
    <link rel="stylesheet" href="/css/selfSpace.css" />
    <link rel="stylesheet" href="/timeAxis/css/timeline.css" />
    <script src="/slick/slick.min.js"></script>
    <script src="/timeAxis/js/modernizr.js"></script>
    <script src="/js/test.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script th:inline="javascript">
        $(function () {
            $(".delete-history").click(function () {
                swal({
                    title: "确认删除?",
                    text: "一旦删除将无法复原!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((willDelete) => {
                    if (willDelete) {
                        $.post(/*[[@{/selfspace/delete/history}]]*/ "https://www.baidu.com",
                            {
                                historyIdStr: this.id,
                            },
                            function (data, status) {
                                if (data.deletedLine > 0) {
                                    var id = '#h' + data.id;
                                    var change = {
                                        opacity: '0.5',
                                        height: '0px',
                                    }
                                    $(id).animate(change, function () {
                                        $(id).remove();
                                    });
                                }
                                else {
                                    swal("删除失败，出现异常！", {
                                        icon: "error",
                                    });
                                }
                            });
                    }
                });
            })
            $(".delete-comment").click(function () {
                swal({
                    title: "确认删除?",
                    text: "一旦删除将无法复原!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((willDelete) => {
                    if (willDelete) {
                        $.post(/*[[@{/selfspace/delete/comment}]]*/ "https://www.baidu.com",
                            {
                                commentIdStr: this.id,
                            },
                            function (data, status) {
                                if (data.deletedLine > 0) {
                                    var id = '#c' + data.id;
                                    var change = {
                                        opacity: '0.5',
                                        height: '0px',
                                    }
                                    $(id).animate(change, function () {
                                        $(id).remove();
                                    });
                                }
                                else {
                                    swal("删除失败，出现异常！", {
                                        icon: "error",
                                    });
                                }
                            });
                    }
                });
            });
            $("#user-name").keypress(function (event) {
                if (event.which === 13) {
                    //点击回车要执行的事件
                    swal({
                        title: "确定修改？",
                        buttons: true,
                        dangerMode: true,
                    }).then((ok) => {
                        alert($("#user-name").text());
                        if (ok) {
                            $.post(/*[[@{/selfspace/username}]]*/ "https://www.baidu.com",
                                {
                                    userName: $("#user-name").text(),
                                },
                                function (data, status) {
                                    if (data > 0) {
                                        $("#navbar-name").text($("#user-name").text());
                                        swal("用户名已更新", "影荐人为您服务", "success");
                                    }
                                    else {
                                        swal("系统出错啦，稍后再试！", "影荐人为您服务", "error");
                                    }
                                });
                        }
                    });

                }
            });

            $("#user-biography").keypress(function (event) {
                if (event.which === 13) {
                    //点击回车要执行的事件
                    swal({
                        title: "确定修改？",
                        buttons: true,
                        dangerMode: true,
                    }).then((ok) => {
                        if (ok) {
                            $.post(/*[[@{/selfspace/biography}]]*/ "https://www.baidu.com",
                                {
                                    biography: $("#user-biography").text(),
                                },
                                function (data, status) {
                                    if (data > 0) {
                                        swal("简历已更新", "影荐人为您服务", "success");
                                    }
                                    else {
                                        swal("系统出错啦，稍后再试！", "影荐人为您服务", "error");
                                    }
                                });
                        }
                    });

                }
            });

        })
    </script>

</head>

<body>
    <section layout:fragment="content">
        <section id="introduction" class="tm-section-pad-top">
            <div class="container">
                <div class="row" style="margin-top: 4%; margin-bottom: 8%;">
                    <div class="col-lg-3">
                        <!-- user -->
                        <div class="user">
                            <div class="user__head">
                                <div class="user__img">
                                    <img th:src="${user.imgUrl}" src="/img/via.jpg" style="width: 100%;height: 100%;"
                                        alt="">
                                </div>
                            </div>
                            <form class="user__title">
                                <!-- <dt>你的用户名:</dt> -->
                                <h2 id="user-name" ondblclick="ShowElement(this)" th:text="${user.userName}"
                                    title="双击可修改">用户名</h2>
                                <!-- <dt>你的个性档</dt> -->
                                <p style="margin-top: 5px;">个 人 简 介</p>
                                <p  class="pre" id="user-biography" style="margin-top: 5px;" title="双击可修改"
                                    ondblclick="ShowElement(this)"
                                    th:text="${user.biography} eq null?'暂无':${user.biography}">简介</p>
                                <!-- <h2 id="user_name">用户名</h2>
                            <p>简介</p> -->
                            </form>
                            <div class="user__btns">
                                <a th:unless="${user.authentication}" href="#" class="user__btn blue"
                                    data-toggle="modal" data-target="#myModal"><span>影荐人认证</span></a>

                                <img th:if="${user.authentication}" style="width: 50%; margin: 0 auto"
                                    src="/img/v.png" />
                                <!-- <div>
                                    <p th:if="${user.authentication}">认证影荐人</p>
                                </div> -->


                                <!-- 模态框 -->
                                <div class="modal fade" id="myModal" aria-hidden="true" data-backdrop="static">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">

                                            <!-- 模态框头部 -->
                                            <!-- <div class="modal-header">
                                            </div> -->

                                            <!-- 模态框主体 -->
                                            <div class="modal-body">
                                                <div class="container">
                                                    <div class="row clearfix" id="testArea">

                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 模态框底部 -->
                                            <!-- <div class="modal-footer">
                                            </div> -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end user -->
                        <div id="btn_comment" class="submit">影评空间</div>
                        <div id="btn_history" class="submit">浏览历史</div>
                        <div id="btn_pick" class="submit">喜欢电影</div>
                    </div>
                    <!-- Tab panes -->
                    <div class="col-lg-9">
                        <section id="page1" th:include="selfspaceLayout::page1"></section>
                        <section id="page2" th:include="selfspaceLayout::page2"></section>
                        <section id="page3" th:include="selfspaceLayout::page3"></section>
                    </div>
                </div>
        </section>
    </section>

    <div layout:fragment="script">
        <script type="text/javascript">
            function ShowElement(element) {
                var oldhtml = element.innerHTML;
                //创建新的input元素
                var newobj = document.createElement('input');
                //为新增元素添加类型
                newobj.type = 'text';
                //为新增元素添加value值
                newobj.value = oldhtml;
                //为新增元素添加光标离开事件
                newobj.onblur = function () {
                    //当触发时判断新增元素值是否为空，为空则不修改，并返回原有值 
                    element.innerHTML = this.value == oldhtml ? oldhtml : this.value;
                    //当触发时设置父节点的双击事件为ShowElement、也可在这里进行保存动作
                    element.setAttribute("ondblclick", "ShowElement(this);");
                }
                //设置该标签的子节点为空
                element.innerHTML = '';
                //添加该标签的子节点，input对象
                element.appendChild(newobj);
                //设置选择文本的内容或设置光标位置（两个参数：start,end；start为开始位置，end为结束位置；如果开始位置和结束位置相同则就是光标位置）
                newobj.setSelectionRange(0, oldhtml.length);
                //设置获得光标
                newobj.focus();

                //设置父节点的双击事件为空
                newobj.parentNode.setAttribute("ondblclick", "");

            }
        </script>
        <script type="text/javascript">
            $(function () {
                //题型    1单选2多选3判断4填空5问答8论述题6完型填空7阅读理解
                //json    格式参照data/test.json
                //交卷    点击交卷后可查看对错
                var test_id = 'get a test id';
                test(test_id);
            });
        </script>

        <script>
            $(function () {
                var $timeline_block = $('.cd-timeline-block');
                //hide timeline blocks which are outside the viewport
                $timeline_block.each(function () {
                    if ($(this).offset().top > $(window).scrollTop() + $(window).height() * 0.75) {
                        $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
                    }
                });
                //on scolling, show/animate timeline blocks when enter the viewport
                $(window).on('scroll', function () {
                    $timeline_block.each(function () {
                        if ($(this).offset().top <= $(window).scrollTop() + $(window).height() * 0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden')) {
                            $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
                        }
                    });
                });
            });
        </script>

        <script th:inline="javascript">
            $('#page_pick').fadeOut('100');
            $('#page_history').fadeOut('100');
            $("#btn_pick").click(function () {
                //window.location.href=/*[[@{/selfspace/pick}]]*/ "https://www.baidu.com";
                if ($('#page_comment').css("display") != "none") {
                    $('#page_comment').fadeOut('2000', function () {
                        $("#page_pick").fadeIn('2000');
                    });
                } else if ($('#page_history').css("display") != "none") {
                    $('#page_history').fadeOut('2000', function () {
                        $('#page_pick').fadeIn('2000');
                    });
                }
                $(".user").css("background-color", "rgb(233, 250, 238)");
                var btn = document.getElementsByClassName('submit');
                console.log(btn);
                var read = document.getElementsByClassName('cd-read-more');
                console.log(read);
                var ubtns = document.getElementsByClassName('user__btn');
                console.log(ubtns);
                for (var i = 0; i < btn.length; i++) {
                    var userEvent = function (i) {
                        btn[i].className = "submit pick";
                    }
                    userEvent(i)
                }
                for (var i = 0; i < read.length; i++) {
                    var readEvent = function (i) {
                        read[i].className = "cd-read-more pick";
                    }
                    readEvent(i)
                }
                for (var i = 0; i < ubtns.length; i++) {
                    var uEvent = function (i) {
                        ubtns[i].className = "user__btn green";
                    }
                    uEvent(i)
                }
            });
            $("#btn_comment").click(function () {
                //window.location.href=/*[[@{/selfspace/comment}]]*/ "https://www.baidu.com";
                if ($('#page_pick').css("display") != "none") {
                    $('#page_pick').fadeOut('2000', function () {
                        $('#page_comment').fadeIn('2000');
                    });
                } else if ($('#page_history').css("display") != "none") {
                    $('#page_history').fadeOut('2000', function () {
                        $('#page_comment').fadeIn('2000');
                    });
                }
                $(".user").css("background-color", "#d8efff");
                var btn = document.getElementsByClassName('submit');
                console.log(btn);
                var read = document.getElementsByClassName('cd-read-more');
                console.log(read);
                var ubtns = document.getElementsByClassName('user__btn');
                console.log(ubtns);
                for (var i = 0; i < btn.length; i++) {
                    var userEvent = function (i) {
                        btn[i].className = "submit";
                    }
                    userEvent(i)
                }
                for (var i = 0; i < read.length; i++) {
                    var readEvent = function (i) {
                        read[i].className = "cd-read-more";
                    }
                    readEvent(i)
                }
                for (var i = 0; i < ubtns.length; i++) {
                    var uEvent = function (i) {
                        ubtns[i].className = "user__btn blue";
                    }
                    uEvent(i)
                }
            });
            $("#btn_history").click(function () {
                //window.location.href=/*[[@{/selfspace/history}]]*/ "https://www.baidu.com";
                if ($('#page_comment').css("display") != "none") {
                    $('#page_comment').fadeOut('2000', function () {
                        $('#page_history').fadeIn('2000');
                    });
                } else if ($('#page_pick').css("display") != "none") {
                    $('#page_pick').fadeOut('2000', function () {
                        $('#page_history').fadeIn('2000');
                    });
                }
                $(".user").css("background-color", "rgb(250, 243, 233)");
                var btn = document.getElementsByClassName('submit');
                console.log(btn);
                var read = document.getElementsByClassName('cd-read-more');
                console.log(read);
                var ubtns = document.getElementsByClassName('user__btn');
                console.log(ubtns);
                for (var i = 0; i < btn.length; i++) {
                    var userEvent = function (i) {
                        btn[i].className = "submit history";
                    }
                    userEvent(i)
                }
                for (var i = 0; i < read.length; i++) {
                    var readEvent = function (i) {
                        read[i].className = "cd-read-more history";
                    }
                    readEvent(i)
                }
                for (var i = 0; i < ubtns.length; i++) {
                    var uEvent = function (i) {
                        ubtns[i].className = "user__btn yellow";
                    }
                    uEvent(i)
                }
            });
        </script>
        <script>
            var btns = document.getElementsByClassName('cd-read-more');
            console.log(btns);
            for (var i = 0; i < btns.length; i++) {
                var userEvent = function (i) {
                    btns[i].addEventListener('click', function () {
                        if (btns[i].parentNode.children[1].className == "no_pre") {
                            btns[i].parentNode.children[1].className = "pre";
                            btns[i].parentNode.children[2].text = "阅读更多";
                        } else if (btns[i].parentNode.children[1].className == "pre") {
                            btns[i].parentNode.children[1].className = "no_pre";
                            btns[i].parentNode.children[2].text = "收起更多";
                        }
                    })
                }
                userEvent(i)
            }
        </script>
        <script th:inline="javascript">
            $(function () {
                $("#submit-v").click(function () {
                    var err = 0;
                    $(".testCon").each(function (i) {
                        var type = $(this).attr("data-type");
                        var aw = $(this).attr("data-answer");
                        var set_answer = '';

                        if (type == 2) {

                            var ckAarray = $(this).find('input[type="checkbox"]:checked');
                            var ans = '';
                            ckAarray.each(function (i, item) {
                                ans += ckAarray.length == i + 1 ? item.value : item.value + " ";
                            });
                            if (ans != aw) {
                                $(this).find("h4").css("color", "red");
                                err++;
                            }
                            set_answer = ans;

                        } else if (type == 1 || type == 7) {

                            var rd = $(this).find('input[type="radio"]:checked').val();
                            if (rd != aw) {
                                $(this).find("h4").css("color", "red");
                                err++;
                            }
                            set_answer = rd;

                        } else if (type == 3) {

                            var rpd = $(this).find('input[type="radio"]:checked').val();
                            rpd = rpd == 0 ? "错误" : (rpd == 1 ? "正确" : "");
                            if (rpd != aw) {
                                $(this).find("h4").css("color", "red");
                                err++;
                            }
                            set_answer = rpd;

                        } else if (type == 4 || type == 5 || type == 8 || type == 6) {

                            var textVal = $.trim($(this).find('textarea').val());
                            if (textVal != aw) {
                                $(this).find("h4").css("color", "red");
                                err++;
                            }
                            set_answer = textVal;
                        }

                        $(this).find("span.userAnswer").text(set_answer);

                    });
                    $(".topic-answer").show();
                    if (err > 0) {
                        swal("未全部答对，很可惜认证失败", "影荐人依然与您同在", "error");
                    }
                    else {
                        $.post(/*[[@{/selfspace/indentity/v}]]*/ "",
                            {}, function (data, status) {
                                if (data > 0) {
                                    swal({
                                        title: "恭喜认证通过",
                                        text: "从今天开始你也是一位影荐人😎！",
                                        icon: "success",
                                    }).then(ok => {
                                        location.href = /*[[@{/selfspace}]]*/ 'http://www.baidu.com';
                                    });
                                }
                                else {
                                    swal("遭遇未知错误，数据库未录入认证信息！", {
                                        icon: "error"
                                    });
                                }
                            });
                    }
                    $("#myModal").modal("hide");
                });
                $("#quit-v").click(function () {
                    swal({
                        title: "中途放弃就前功尽弃了😫",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true
                    }).then(ok => {
                        if (ok) {
                            $("#myModal").modal("hide");
                            return;
                        }
                    })
                })
            })
        </script>
    </div>
</body>

</html>