<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<!-- js -->
<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
</head>
	
<body>
	<div>
		<!--像这样可以在发送给用户前传进Html中 -->
		<a th:text="${page}"></a>
		<a>获取的电影为</a>
		<a id="movie"></a>
	</div>
	<script type="text/javascript">
	//文档加载后调用
	$(document).ready(function(){
		GetPage();
	});
	function GetPage(){
		$.ajax({
			//testcontroller 定义的路径
			url: "/ajaxtest/1",
			//设定为Get请求
			type:"GET",
			context: document.body,
			success: function(json){
				GetSuccess(json);
			},
			//使用匿名方法处理异常
			error:function(msg){
				console.log(msg);
				
			}
			});
	}
	function GetSuccess(json){
		console.log(json);
		//获取id为movie的所有节点，并把内容设为Json
		
		$("#movie").text = json;
	}
	</script>
</body>
</html>