<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>layout</title>
	<link rel="stylesheet" href="/fontawesome-free-5.11.2-web/css/all.min.css" />
	<link rel="stylesheet" href="/magnific-popup/magnific-popup.css">
	<link rel="stylesheet" href="/bootstrap-4.5.0-dist/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/templatemo-style.css" />
    <link rel="stylesheet" href="/css/header-pic.css" />
	
	<script src="/js/jquery-1.9.1.min.js"></script>
	<script src="/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="/js/jquery.singlePageNav.min.js"></script>
	<script src="/js/header-pic.js"></script>
	<script src="/bootstrap-4.5.0-dist/js/bootstrap.js"></script>
</head>

<body>
	<section th:include="/partial/_navbar::navbar"></section>
    <!-- footer section -->
    <section layout:fragment="content">
    </section>
	<!-- Contact -->
	<section th:include="/partial/_contact::contact"></section>
<script>

		function getOffSet() {
			var _offset = 450;
			var windowHeight = window.innerHeight;

			if (windowHeight > 500) {
				_offset = 400;
			}
			if (windowHeight > 680) {
				_offset = 300
			}
			if (windowHeight > 830) {
				_offset = 210;
			}

			return _offset;
		}

		function setParallaxPosition($doc, multiplier, $object) {
			var offset = getOffSet();
			var from_top = $doc.scrollTop(),
				bg_css = 'center ' + (multiplier * from_top - offset) + 'px';
			$object.css({ "background-position": bg_css });
		}

		var background_image_parallax = function ($object, multiplier, forceSet) {
			multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
			multiplier = 1 - multiplier;
			var $doc = $(document);
			// $object.css({"background-attatchment" : "fixed"});

			if (forceSet) {
				setParallaxPosition($doc, multiplier, $object);
			} else {
				$(window).scroll(function () {
					setParallaxPosition($doc, multiplier, $object);
				});
			}
		};

		var background_image_parallax_2 = function ($object, multiplier) {
			multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
			multiplier = 1 - multiplier;
			var $doc = $(document);
			$object.css({ "background-attachment": "fixed" });
			$(window).scroll(function () {
				var firstTop = $object.offset().top,
					pos = $(window).scrollTop(),
					yPos = Math.round((multiplier * (firstTop - pos)) - 186);

				var bg_css = 'center ' + yPos + 'px';

				$object.css({ "background-position": bg_css });
			});
		};

		$(function () {
			// Hero Section - Background Parallax
			background_image_parallax($(".tm-parallax"), 0.30, false);
			background_image_parallax_2($("#contact"), 0.80);

			// Handle window resize
			window.addEventListener('resize', function () {
				background_image_parallax($(".tm-parallax"), 0.30, true);
			}, true);

			// Detect window scroll and update navbar
			$(window).scroll(function (e) {
				if ($(document).scrollTop() > 120) {
					$('.tm-navbar').addClass("scroll");
				} else {
					$('.tm-navbar').removeClass("scroll");
				}
			});

			// Close mobile menu after click 
			$('#tmNav a').on('click', function () {
				$('.navbar-collapse').removeClass('show');
			})

			// Scroll to corresponding section with animation
			$('#tmNav').singlePageNav();

			// Add smooth scrolling to all links
			// https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
			$("a").on('click', function (event) {
				if (this.hash !== "") {
					event.preventDefault();
					var hash = this.hash;

					$('html, body').animate({
						scrollTop: $(hash).offset().top
					}, 400, function () {
						window.location.hash = hash;
					});
				} // End if
			});

			// Pop up
			// $('.tm-gallery').magnificPopup({
			// 	delegate: 'a',
			// 	type: 'image',
			// 	gallery: { enabled: true }
			// });
		});
	</script>
	<div layout:fragment="script"></div>
</body>

</html>