body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}


/* 开始 ------------------------------*/

.title {
    position: relative;
    width: 100%;
}

.title.t {
    position: relative;
    width: 100%;
}

.title.t1 {
    background-image: url(https://img1.doubanio.com/view/activity_page/raw/public/p4187.jpg);
    display: none;
}


/* 电影 */

video {
    display: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    z-index: -1;
}

source {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    z-index: -1;
}


/* 数字 */

.number {
    color: #2c6cb6ad;
    font-size: 150px;
    text-align: center;
    /* vertical-align: middle; */
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}


/* 标题 */

.listTitle {
    color: #2c6cb6ad;
    font-size: 80px;
    text-align: center;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
    display: none;
    z-index: 999;
}


/* login */

img.logo {
    left: -80px;
    position: relative;
    margin-top: 10%;
    width: 150px;
    height: 150px;
}